title = "Page not found (404)"
url = "/404"
layout = "default-disco"
description = "this is not found page"
is_hidden = 0
==
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Page not found</h1>
        <p class="lead">We're sorry, but the page you requested cannot be found.</p>
    </div>
</div>