==
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand smooth-scroll" href="#home">
        <img src="{{ 'assets/images/logo.png' | theme }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <div class="navbar-collapse-bg">
          <img class="top-bg-mobile" src="{{ 'assets/images/nav-mobile-bg-top.png' | theme }}">
          <img class="bottom-bg-mobile" src="{{ 'assets/images/nav-mobile-bg-bottom.png' | theme }}">
        </div>
        <ul class="navbar-nav navbar-nav__left">
          <li class="nav-item" data-menuanchor="#home">
            <a class="nav-link smooth-scroll" href="#home">home</a>
          </li>
          <li class="nav-item" data-menuanchor="#about">
            <a class="nav-link smooth-scroll" href="#about">about</a>
          </li>
          <li class="nav-item" data-menuanchor="#rules">
            <a class="nav-link smooth-scroll" href="#rules">rules</a>
          </li>
          <li class="nav-item" data-menuanchor="#judges">
            <a class="nav-link smooth-scroll" href="#judges">judges</a>
          </li>
          <li class="nav-item" data-menuanchor="#discostar">
            <a class="nav-link smooth-scroll" href="#discostar">disco stars</a>
          </li>
          <li class="nav-item" data-menuanchor="#pastwinners">
            <a class="nav-link smooth-scroll" href="#pastwinners">past winners</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav__right">
          {% if user %}
            <li class="nav-item nav-right nav-item--profile" data-menuanchor="#profile">
               <a class="nav-link smooth-scroll red-link" href="#profile">profile</a>
            </li>
            <li class="nav-item nav-right">
              <a class="nav-link red-link" href="#" data-request="onLogoutStar">logout</a>
            </li>
          {% else %}
            <li class="nav-item nav-right">
              <a class="nav-link red-link" data-toggle="modal" data-target="#loginModal">sign in</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#login">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#register">register</a>
            </li> -->
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
