@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-100.otf") format("opentype"), url("../fonts/MuseoSans-100.woff") format("woff"), url("../fonts/MuseoSans-100.ttf") format("truetype"), url("../fonts/MuseoSans-100.svg#MuseoSans-100") format("svg");
  font-weight: 100;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-300.otf") format("opentype"), url("../fonts/MuseoSans-300.woff") format("woff"), url("../fonts/MuseoSans-300.ttf") format("truetype"), url("../fonts/MuseoSans-300.svg#MuseoSans-300") format("svg");
  font-weight: 300;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-500.otf") format("opentype"), url("../fonts/MuseoSans-500.woff") format("woff"), url("../fonts/MuseoSans-500.ttf") format("truetype"), url("../fonts/MuseoSans-500.svg#MuseoSans-500") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-700.otf") format("opentype"), url("../fonts/MuseoSans-700.woff") format("woff"), url("../fonts/MuseoSans-700.ttf") format("truetype"), url("../fonts/MuseoSans-700.svg#MuseoSans-700") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: 'MuseoSans';
  src: url("../fonts/MuseoSans-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans-900.otf") format("opentype"), url("../fonts/MuseoSans-900.woff") format("woff"), url("../fonts/MuseoSans-900.ttf") format("truetype"), url("../fonts/MuseoSans-900.svg#MuseoSans-900") format("svg");
  font-weight: 900;
}

#hide {
  display: none;
}

* {
  font-family: 'MuseoSans';
}

body.modal-open {
  overflow: hidden !important;
}

.btn {
  position: relative;
  background-color: #ff7701;
  border: none;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 900;
  color: #fff;
  border-radius: 0;
  letter-spacing: 3px;
  text-shadow: 3px 3px #834007;
  transition: all 0.3s ease;
}

.btn:before {
  content: '';
  border-bottom: 6px solid #834007;
  border-right: 6px solid #834007;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transition: all 0.3s ease;
}

.btn:after {
  content: '';
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  position: absolute;
  left: -8px;
  top: -8px;
  border: 2px solid #45b1d5;
  transition: all 0.3s ease;
}

.btn:hover {
  border: 0;
  text-shadow: none;
  color: #fff;
}

.btn:hover:before {
  width: 100%;
  height: 100%;
  border-right: 1px solid #834007;
  border-bottom: 1px solid #834007;
}

.btn:hover:after {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-font-big {
  font-size: 18px;
}

.btn-green {
  background-color: #45b1d5;
  color: #041c40;
  text-shadow: 2px 2px #fff;
  font-weight: 900;
}

.btn-green:before {
  border-color: #126e8d;
}

.btn-green:after {
  border-color: #ff7701;
}

.modal-data {
  display: none;
}

.navbar {
  padding-top: 20px;
}

.navbar .navbar-brand {
  width: 170px;
}

.navbar .navbar-brand img {
  width: 100%;
}

.navbar .navbar-toggler {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 8px 5px;
}

.navbar .navbar-toggler .icon-bar {
  width: 20px;
  height: 2px;
  border-top: 2px solid #fff;
  display: block;
  margin: 4px;
  border-radius: 1px;
}

.navbar .navbar-nav {
  margin-left: 30px;
  width: auto;
}

.navbar .navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar .navbar-nav .nav-item--profile {
  margin-right: calc(-10px - .4rem);
}

.navbar .navbar-nav .nav-item--profile > a.nav-link:after {
  content: "/";
}

.navbar .navbar-nav .nav-item--profile > a.nav-link:hover:after {
  color: #fc7602;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #4abce1;
  cursor: pointer;
}

.navbar .navbar-nav .nav-item .red-link {
  color: #fc7602;
}

.navbar .navbar-nav .nav-right {
  margin-left: auto;
}

.navbar .navbar-nav .active .nav-link {
  color: #4abce1;
}

.page-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center center;
  overflow-y: auto;
  z-index: 0;
}

.page-content {
  text-align: center;
  padding-top: 50px;
  opacity: 0;
  transition: all 1s ease;
}

.page-content p {
  color: #fff;
}

.right-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: -100%;
  transition: all 1s ease;
  pointer-events: none;
}

.left-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: all 1s ease;
  pointer-events: none;
}

.section.judges .left-bg {
  object-fit: cover;
  object-position: left;
}

.section.judges .left-bg-piece {
  display: none;
  object-fit: contain;
  object-position: inherit;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .section.judges .left-bg-piece {
    display: block;
    position: absolute;
    left: -100%;
    width: 11%;
    bottom: 30%;
    top: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .section.judges .left-bg-piece {
    width: 10%;
    bottom: 28%;
  }
}

@media screen and (min-width: 1200px) {
  .section.judges .left-bg-piece {
    bottom: 27%;
  }
}

@media screen and (min-width: 1366px) {
  .section.judges .left-bg-piece {
    bottom: 26%;
  }
}

@media screen and (min-width: 1024px) {
  .section.judges.active .left-bg.left-bg-piece {
    left: 15.6%;
    z-index: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section.judges.active .left-bg.left-bg-piece {
    left: 11.4%;
  }
}

.section.judges .right-bg {
  object-fit: cover;
  object-position: right;
}

.work-btn-wrapper {
  position: absolute;
  left: -100%;
  bottom: 50px;
  font-size: 11px;
  transition: all 1.3s ease;
  font-weight: 100;
  letter-spacing: 0.5px;
}

.work-btn-wrapper .btn {
  font-size: 11px;
  padding: 3px 5px;
  text-shadow: 2px 2px #834007;
  color: #fff !important;
}

.work-btn-wrapper:after {
  content: '';
  background-image: url(../images/ship1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 85px;
  position: absolute;
  top: -10px;
  right: -70px;
}

.top-bg-mobile,
.bottom-bg-mobile {
  display: none;
}

.home .page-content .main-img {
  width: 40%;
  margin: auto;
}

.home .page-content .left-bg {
  width: auto;
}

.home .page-content .right-bg {
  width: auto;
}

.home .page-content .home-winner-title {
  display: none;
}

@media screen and (min-width: 769px) {
  .home .page-content .home-winner-title {
    display: block;
    position: relative;
    top: 0;
    width: 50%;
    margin-top: calc(-50px - 8%);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1440px) {
  .home .page-content .home-winner-title {
    display: block;
    position: relative;
    top: 0;
    width: 50%;
    margin-top: calc(-50px - 3%);
    left: 50%;
    transform: translateX(-50%);
  }
}

.home .page-content .home-winner-title-mobile {
  position: relative;
  top: 0;
  width: 80%;
  margin-top: -50px;
}

@media screen and (min-width: 769px) {
  .home .page-content .home-winner-title-mobile {
    display: none;
  }
}

.home .page-content .home-winner__heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% auto;
  width: 80%;
}

@media screen and (min-width: 769px) {
  .home .page-content .home-winner__heading {
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) {
  .home .page-content .home-winner__heading {
    margin: 13% auto 0;
  }
}

@media screen and (min-width: 1440px) {
  .home .page-content .home-winner__heading {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.home .page-content .home-winner__heading h4 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 800;
  color: #ff7400;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .home .page-content .home-winner__heading h4 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 23px;
  }
}

@media screen and (min-width: 1025px) {
  .home .page-content .home-winner-copy {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .home .page-content .home-winner-copy {
    margin-top: 30px;
  }
}

.home .page-content .home-winner-copy p {
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 0;
  color: #ff7400;
  line-height: 1;
  width: 65%;
}

@media screen and (min-width: 768px) {
  .home .page-content .home-winner-copy p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .home .page-content .home-winner-copy p {
    margin-bottom: 10px;
  }
}

.home .page-content .home-winner-anchor {
  width: 12px;
}

@media screen and (min-width: 1440px) {
  .home .page-content .home-winner-anchor {
    width: 25px;
  }
}

.home .page-content .home-winner-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .home .page-content .home-winner-box {
    flex-wrap: nowrap;
  }
}

.home .page-content .home-winner__photo {
  width: 100px;
}

.home .page-content .home-winner__photo-box {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .home .page-content .home-winner__photo {
    width: 200px;
  }
}

.home .page-content .home-winner__banner {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.home .page-content .top-bg-mobile {
  z-index: 0;
}

.home .page-content .link {
  padding: 0;
  display: inline-block;
  width: 30px;
  margin-top: 50px;
}

.home .page-content .arrow {
  width: 100%;
}

@media screen and (width: 768px) {
  .home .top-bg-mobile,
  .home .bottom-bg-mobile {
    display: block;
  }
  .home .top-bg-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .home .bottom-bg-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .home .left-bg,
  .home .right-bg {
    display: none;
  }
}

.about .work-btn-wrapper:after {
  right: initial;
  left: -75px;
}

.about .page-content .komodor {
  width: 80%;
  margin: auto;
  margin-right: 35px;
}

.about .page-content .text-section {
  text-align: justify;
  margin-top: 50px;
  padding: 50px 30px 20px;
  border: 1px solid #45b1d5;
  font-size: 12px;
  letter-spacing: 0.5px;
  position: relative;
  font-weight: 100;
  border-top: none;
  border-left: none;
}

.about .page-content .text-section .border-top {
  border-top: 1px solid #45b1d5 !important;
  position: absolute;
  top: 0;
  left: 58%;
  width: 42%;
}

.about .page-content .text-section .border-left {
  border-left: 1px solid #45b1d5 !important;
  position: absolute;
  top: 15%;
  left: 0;
  height: 85%;
}

.about .page-content .text-section:before {
  content: '';
  background-image: url(../images/set-sail.png);
  width: 401px;
  height: 100px;
  position: absolute;
  background-size: cover;
  left: -50px;
  top: -80px;
}

.about .page-content .text-section p:last-child {
  margin-bottom: 0;
}

.about .page-content .text-section .big {
  font-weight: 900;
}

.about.active .work-btn-wrapper {
  left: 20%;
}

.rules .work-btn-wrapper {
  left: initial;
  right: -100%;
}

.rules .page-content {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1400px;
  margin: auto;
  padding-top: 100px;
}

.rules .page-content .row {
  margin: 0 -5px;
}

.rules .page-content .circle-col {
  padding: 0 5px;
}

.rules .page-content .rules-title {
  position: absolute;
  top: -100%;
  width: 35%;
  left: 32.5%;
  transition: all 1s ease;
}

.rules .page-content .rules-title--mobile {
  display: none;
}

.rules .page-content .circle {
  margin: auto;
  width: 90%;
  padding-bottom: 90%;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}

.rules .page-content .circle:hover {
  cursor: pointer;
}

.rules .page-content .circle:hover .content {
  background-color: #368eb0;
}

.rules .page-content .circle:hover .content .desc {
  color: #fff;
}

.rules .page-content .circle .content {
  border-radius: 50%;
  border: 2px solid #368eb0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.rules .page-content .circle .line-down:after {
  content: '';
  position: absolute;
  border-top: 5px solid #fc7602;
  width: 39%;
  height: 5px;
  left: 82%;
  bottom: 0;
  transform: rotate(40deg);
  pointer-events: none;
}

.rules .page-content .circle .line-up:after {
  content: '';
  position: absolute;
  border-top: 5px solid #fc7602;
  width: 39%;
  height: 5px;
  left: 82%;
  top: 0;
  transform: rotate(-40deg);
  pointer-events: none;
}

.rules .page-content .circle .number {
  margin: 0;
  font-size: 70px;
  line-height: 1;
  font-weight: 500;
}

.rules .page-content .circle .desc {
  margin: 0;
  color: #ff7701;
  font-size: 8px;
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.rules .page-content .bottom {
  margin-top: 100px;
}

.rules.active .work-btn-wrapper {
  right: 20%;
}

.judges .page-content .left-bg,
.judges .page-content .right-bg {
  z-index: 1;
}

.judges .page-content .judges-title {
  display: none;
}

.judges .page-content .judge-face {
  position: absolute;
  width: 9.9%;
  height: 15.7%;
  z-index: 2;
}

.judges .page-content .judge-face .user-wrapper {
  position: relative;
  pointer-events: none;
  display: flex;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  opacity: 0;
  margin-left: -15px;
  margin-top: -20px;
  z-index: 2;
  height: 100%;
  align-items: flex-start;
}

.judges .page-content .judge-face .user-wrapper p {
  color: #fff;
  margin: 0;
}

.judges .page-content .judge-face .user-wrapper .img-section {
  width: 130px;
  flex: 0 0 130px;
  border-radius: 50%;
  z-index: 2;
}

.judges .page-content .judge-face .user-wrapper .img-section img {
  width: 100%;
  border: 4px solid #2180ab;
  border-radius: 50%;
}

.judges .page-content .judge-face .user-wrapper .img-section img.judges-img-mobile {
  display: none;
}

.judges .page-content .judge-face .user-wrapper .text-section {
  position: relative;
  margin-left: -40px;
  flex: 0 0 350px;
  margin-bottom: auto;
  padding: 10px 10px 10px 50px;
  text-align: left;
  background-color: #1180a8;
  border-radius: 10px;
  background-image: url("../images/text-bg.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  margin-left: -40px;
}

.judges .page-content .judge-face .user-wrapper .text-section span.text-section__line {
  position: absolute;
}

.judges .page-content .judge-face .user-wrapper .text-section span.text-section__line:after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 0;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}

.judges .page-content .judge-face .user-wrapper .text-section .name {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  -webkit-text-stroke: 1px #324863;
  text-shadow: -1.5px 1.5px #e2720d;
}

.judges .page-content .judge-face .user-wrapper .text-section .desc {
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.judges .page-content .judge-face .user-wrapper .text-section .link {
  display: inline-block;
  color: #04cffa;
  text-decoration: underline;
  font-size: 11px;
}

.judges .page-content .judge-face .user-wrapper .text-section .link:hover {
  cursor: pointer;
}

.judges .page-content .judge-face .user-wrapper .bubble-wrapper {
  position: absolute;
  width: auto;
  display: flex;
  align-items: center;
  right: 250%;
}

.judges .page-content .judge-face:hover {
  opacity: 1;
  cursor: pointer;
}

.judges .page-content .judge-face:hover .user-wrapper {
  opacity: 1;
  pointer-events: all;
}

.judges .page-content .guest-judges {
  position: absolute;
  width: 600px;
  right: 100px;
  bottom: 50px;
  z-index: 1;
}

.judges .page-content .guest-judges .guest-title {
  display: none;
}

.judges .page-content .guest-judges img {
  width: 100%;
}

.judges .page-content .guest-judges .judge-face {
  width: 23%;
  height: 100%;
}

.judges .page-content .guest-judges .judge7,
.judges .page-content .guest-judges .judge8 {
  top: 0;
  right: 23%;
}

.judges .page-content .guest-judges .judge7 .user-wrapper .img-section,
.judges .page-content .guest-judges .judge8 .user-wrapper .img-section {
  margin-top: -110px;
  margin-left: -300px;
}

.judges .page-content .guest-judges .judge7 .user-wrapper .text-section,
.judges .page-content .guest-judges .judge8 .user-wrapper .text-section {
  margin-top: -85px;
  margin-bottom: 85px;
}

.judges .page-content .guest-judges .judge7 span.text-section__line {
  border-right: 2px solid white;
  width: 15px;
  height: 50px;
  bottom: -50px;
  right: 26%;
}

.judges .page-content .guest-judges .judge8 {
  top: 0;
  right: 0;
}

.judges .page-content .guest-judges .judge8 span.text-section__line {
  border-right: 2px solid white;
  width: 15px;
  height: 43px;
  bottom: -43px;
  right: 26%;
}

.judges .page-content .guest-judges .judge8 .user-wrapper .text-section {
  margin-top: -93px;
}

.judges .page-content .judges-wrapper {
  width: 70%;
  position: relative;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .judges .page-content .judges-wrapper {
    width: 70%;
    position: relative;
    margin: auto;
    top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .judges .page-content .judges-wrapper {
    margin-left: 12%;
  }
}

.judges .page-content .judges-wrapper .judges-img {
  width: 100%;
}

.judges .page-content .judges-wrapper .judge1 {
  left: 11.5%;
  top: 36%;
  order: 3;
}

.judges .page-content .judges-wrapper .judge1 span.text-section__line {
  width: 17px;
  height: 70px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  top: -43px;
  transform: rotate(270deg);
  left: 50%;
}

.judges .page-content .judges-wrapper .judge1 .bubble-wrapper {
  bottom: -108px;
  right: 100%;
}

.judges .page-content .judges-wrapper .judge2 {
  left: 28%;
  top: 34%;
  order: 5;
}

.judges .page-content .judges-wrapper .judge2 span.text-section__line {
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 15px;
  right: -15px;
  height: 70px;
  top: 50%;
}

.judges .page-content .judges-wrapper .judge2 .bubble-wrapper {
  right: 180%;
}

@media screen and (min-width: 1200px) {
  .judges .page-content .judges-wrapper .judge2 .bubble-wrapper {
    right: 160%;
  }
}

@media screen and (min-width: 1366px) {
  .judges .page-content .judges-wrapper .judge2 .bubble-wrapper {
    right: 158%;
    margin-top: 13%;
  }
}

@media screen and (min-width: 1440px) {
  .judges .page-content .judges-wrapper .judge2 .bubble-wrapper {
    right: 152%;
    margin-top: 20%;
  }
}

.judges .page-content .judges-wrapper .judge3 {
  left: 38%;
  top: 36%;
  order: 4;
}

.judges .page-content .judges-wrapper .judge3 span.text-section__line {
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 15px;
  right: -15px;
  height: 50px;
  top: 70%;
}

.judges .page-content .judges-wrapper .judge3 .bubble-wrapper {
  right: 150%;
}

@media screen and (min-width: 1200px) {
  .judges .page-content .judges-wrapper .judge3 .bubble-wrapper {
    right: 145%;
  }
}

@media screen and (min-width: 1366px) {
  .judges .page-content .judges-wrapper .judge3 .bubble-wrapper {
    right: 137%;
    margin-top: 10%;
  }
}

.judges .page-content .judges-wrapper .judge4 {
  left: 47.5%;
  top: 9%;
  order: 1;
}

.judges .page-content .judges-wrapper .judge4 span.text-section__line {
  width: 13px;
  height: 50px;
  right: -13px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  top: 50%;
}

.judges .page-content .judges-wrapper .judge4 .user-wrapper .bubble-wrapper {
  right: 170%;
}

@media screen and (min-width: 1200px) {
  .judges .page-content .judges-wrapper .judge4 .user-wrapper .bubble-wrapper {
    right: 155%;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1366px) {
  .judges .page-content .judges-wrapper .judge4 .user-wrapper .bubble-wrapper {
    right: 144%;
    margin-top: 22%;
  }
}

.judges .page-content .judges-wrapper .judge4 .user-wrapper .img-section {
  margin-top: 0;
  padding-top: 0px;
  padding-bottom: 0;
}

.judges .page-content .judges-wrapper .judge4 .user-wrapper .text-section {
  margin-top: 0px;
}

.judges .page-content .judges-wrapper .judge5 {
  left: 66.5%;
  top: 36%;
  order: 2;
}

.judges .page-content .judges-wrapper .judge5 span.text-section__line {
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 15px;
  right: -15px;
  height: 50px;
  top: 70%;
}

.judges .page-content .judges-wrapper .judge5 .user-wrapper .bubble-wrapper {
  right: 207%;
}

@media screen and (min-width: 1200px) {
  .judges .page-content .judges-wrapper .judge5 .user-wrapper .bubble-wrapper {
    right: 180%;
  }
}

@media screen and (min-width: 1366px) {
  .judges .page-content .judges-wrapper .judge5 .user-wrapper .bubble-wrapper {
    right: 181%;
    margin-top: 20%;
  }
}

@media screen and (min-width: 1440px) {
  .judges .page-content .judges-wrapper .judge5 .user-wrapper .bubble-wrapper {
    right: 175%;
    margin-top: 20%;
  }
}

.judges .page-content .judges-wrapper .judge5 .user-wrapper .img-section {
  padding-bottom: 0;
}

.judges .page-content .judges-wrapper .judge6 {
  right: 13.3%;
  top: 29%;
  order: 6;
}

.judges .page-content .judges-wrapper .judge6 span.text-section__line {
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 15px;
  right: -15px;
  height: 50px;
  top: 70%;
}

.judges .page-content .judges-wrapper .judge6 .user-wrapper .bubble-wrapper {
  right: 125%;
}

@media screen and (min-width: 1366px) {
  .judges .page-content .judges-wrapper .judge6 .user-wrapper .bubble-wrapper {
    right: 118%;
    margin-top: 10%;
  }
}

.judges .page-content .judges-wrapper .judge6 .user-wrapper .img-section {
  margin-top: 0;
  margin-left: -300px;
  padding-bottom: 0;
}

.judges .page-content .judges-wrapper .judge6 .user-wrapper .text-section {
  margin-top: 0;
}

@media screen and (min-width: 991px) {
  .judges .page-content .judges-wrapper .judge-face .bubble-wrapper .img-section {
    flex: 0 0 100px;
  }
  .judges .page-content .judges-wrapper .judge-face .bubble-wrapper .text-section {
    flex: 0 0 275px;
    padding: 8px 10px 8px 50px;
  }
  .judges .page-content .judges-wrapper .judge-face .bubble-wrapper .text-section p.name {
    font-size: 15px;
  }
  .judges .page-content .judges-wrapper .judge-face .bubble-wrapper .text-section p.desc {
    font-size: 10px;
  }
}

.profile-box {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
}

.profile-box__image {
  border: 1px solid #03aef0;
  border-radius: 50%;
  padding: 15px;
  background: #031a3a;
  flex-shrink: 1;
  width: 250px;
  z-index: 1;
  position: relative;
}

.profile-box__image:before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.profile-box__image img {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  padding: 15px;
}

.profile-box__text {
  width: 80%;
  background: #03aef0;
  padding: 20px 80px;
  z-index: 0;
  font-size: 20px;
  z-index: 0;
  margin-left: -35px;
}

.profile-box__name {
  font-weight: 700;
}

.profile-box__message {
  font-weight: 100;
  font-size: 0.875em;
  margin-bottom: 0;
}

.profile-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.profile-form label.label {
  color: white;
  text-align: right;
  width: 50%;
  flex-shrink: 0;
  margin-bottom: 0;
}

.profile-form input[type=text] {
  margin-right: 14px;
  width: 45%;
}

.profile-form .btn {
  margin-left: 8px;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.profile-form .fileContainer {
  overflow: hidden;
  position: relative;
  background: #a2a2a2;
  padding: 3px 30px;
  border-bottom: 3px;
  border-bottom-style: inset;
  border-bottom-color: #5a5c5d;
  border-right: 3px;
  border-right-style: inset;
  border-right-color: #5a5c5d;
  border-top: 3px;
  border-top-color: #e2eaef;
  border-top-style: inset;
  border-left: 3px;
  border-left-color: #e2eaef;
  border-left-style: inset;
  margin-bottom: 0;
  cursor: pointer;
}

.profile-form .fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.discostar .page-content .sailor {
  width: 90%;
  margin: 50px auto 0;
}

.discostar .page-content .title {
  color: #ff7701;
  font-size: 23px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.discostar .page-content .title .disco {
  width: 270px;
  margin: 0 5px;
  vertical-align: top;
}

.discostar .page-content .title span {
  border-bottom: 3px solid #ff7701;
  padding-bottom: 2px;
  vertical-align: sub;
  margin-bottom: 20px;
}

.discostar .page-content .title span:first-child {
  margin-right: 20px;
}

.discostar .page-content .title span:nth-child(3) {
  margin-left: 20px;
}

.discostar .page-content .person .img {
  width: 50%;
  margin: auto;
}

.discostar .page-content .person .name {
  margin-top: 7px;
  margin-bottom: 10px;
  color: #45b1d5;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  line-height: 1.2;
}

.discostar .page-content .person:nth-child(3n+1) .name {
  margin-left: auto;
}

.discostar .page-content .person:nth-child(3n+2) .name {
  margin: 10px auto;
}

.pastwinners .work-btn-wrapper {
  left: inherit;
  right: -100%;
}

.pastwinners .page-content {
  padding-bottom: 50px;
}

.pastwinners .page-content .title {
  color: #ff7701;
  font-size: 40px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: 900;
  position: relative;
  display: inline-block;
}

.pastwinners .page-content .title:before {
  content: '';
  background-image: url(../images/stars.png);
  width: 60px;
  height: 18px;
  position: absolute;
  background-size: cover;
  left: -80px;
  top: 25%;
}

.pastwinners .page-content .title:after {
  content: '';
  background-image: url(../images/stars.png);
  width: 60px;
  height: 18px;
  position: absolute;
  background-size: cover;
  right: -80px;
  top: 25%;
  transform: scaleX(-1);
}

.pastwinners .page-content .title .disco {
  width: 270px;
  margin: 0 15px;
  vertical-align: top;
}

.pastwinners .page-content .title span {
  letter-spacing: 12px;
  display: inline-block;
  margin-top: 7px;
}

.pastwinners .page-content .winners .winner-img {
  width: 63%;
}

@media screen and (max-width: 1200px) and (min-width: 1200px) {
  .pastwinners .page-content .winners .winner-img {
    width: 50%;
  }
}

.pastwinners .page-content .winners .orange-text {
  color: #ff7701;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

@media screen and (max-width: 1200px) and (min-width: 1200px) {
  .pastwinners .page-content .winners .orange-text {
    font-size: 14px;
  }
}

.pastwinners .page-content .winners .blue-text {
  letter-spacing: 2px;
  font-weight: 700;
  color: #45b1d5;
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) and (min-width: 1200px) {
  .pastwinners .page-content .winners .blue-text {
    font-size: 14px;
  }
}

.pastwinners .page-content .winners p {
  margin: 0;
}

.pastwinners .page-content .winners .text-section {
  margin-top: 30px;
}

.pastwinners.active .work-btn-wrapper {
  right: 18%;
}

.form-row {
  margin-bottom: 20px;
}

.form-row .label {
  display: block;
  color: #45b1d5;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-align: left;
  padding: 6px;
}

.form-row .error {
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
  color: #ff0000;
}

.form-row .textbox {
  width: 100%;
  padding: 5px 10px;
  border: none;
}

.form-row:last-child {
  margin-bottom: 0;
}

.getonboard {
  width: 55%;
  margin-bottom: 50px;
}

.login {
  text-align: center;
}

.login .label-section {
  text-align: right;
}

.login .label-section .label {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
}

.login .btn-section {
  margin-top: 50px;
  text-align: left;
}

.login .btn-section .btn {
  min-width: 180px;
  margin: auto;
  margin-left: 8px;
}

.login .link-section {
  text-align: center;
  margin-top: 40px;
}

.login .link-section .text {
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
  width: 100%;
  font-size: 14px;
}

.login .link-section .text .nav-link {
  display: inline-block;
  color: deepskyblue;
  font-weight: 900;
  padding: 0;
  text-decoration: underline;
}

.login .link-section .text .nav-link:hover {
  text-decoration: none;
}

.register {
  display: none;
  text-align: center;
}

.register .user-img {
  width: 90%;
  border-radius: 50%;
}

.register .btn {
  margin-top: 40px;
  min-width: 80%;
}

.register .btn-section {
  text-align: center;
}

.register .btn-section .btn-save {
  margin-top: 0px;
  font-size: 25px;
  min-width: inherit;
  padding: 8px 40px;
}

.register .link-section {
  text-align: center;
  margin-top: 40px;
}

.register .link-section .text {
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
  width: 100%;
  font-size: 14px;
}

.register .link-section .text .nav-link {
  display: inline-block;
  color: #fff;
  font-weight: 900;
  padding: 0;
  text-decoration: underline;
}

.register .link-section .text .nav-link:hover {
  text-decoration: none;
}

.register .input-file {
  display: none;
}

.register .btn-input {
  margin: 0;
}

.register .info {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 0;
  letter-spacing: 0.5px;
}

.section.active .page-content {
  opacity: 1;
}

.section.active .page-content .rules-title {
  position: absolute;
  top: 0;
}

.section.active .right-bg {
  right: 0;
}

.section.active .left-bg {
  left: 0;
}

.modal .modal-dialog {
  max-width: 90%;
  height: 90%;
}

.modal .work-title {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto;
  -webkit-text-stroke: 2px #324863;
  text-shadow: -2px 1px #e2720d, -3px 2px #45b1d5;
}

.modal .modal-content {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: center center;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.modal .modal-content .modal-left-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal .modal-content .modal-right-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.modal .modal-body {
  color: #fff;
  padding: 15px;
}

.modal .modal-body .login {
  padding: 70px 0;
}

.modal .modal-body .register {
  padding: 35px 0;
}

.modal .modal-body .modal-data {
  display: block;
}

.modal .modal-body .nav-link:hover {
  cursor: pointer;
}

.modal .modal-footer {
  border: 0;
}

.modal .close {
  position: absolute;
  color: #fff;
  right: 20px;
  top: 20px;
  z-index: 1;
  font-size: 30px;
}

.modal .video {
  width: fit-content;
  margin: auto;
}

.modal .video.paywithviews {
  width: 75%;
}

.modal .info-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 50px;
}

.modal .info-popup .col {
  display: flex;
}

.modal .info-popup .number {
  font-size: 150px;
  font-weight: 500;
  border: 2px solid #45b1d5;
  border-radius: 50%;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  padding-bottom: 100%;
}

.modal .info-popup .number span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .info-popup .img-section {
  width: 70%;
  margin: auto;
}

.modal .info-popup .img-section img {
  width: 100%;
}

.modal .info-popup .square-text-section {
  font-size: 14px;
  border: 1px solid #45b1d5;
  letter-spacing: 0.5px;
  position: relative;
  font-weight: 100;
  border-top: none;
  border-left: none;
  padding: 50px 30px;
  width: 100%;
  margin: 50px 0;
  height: fit-content;
}

.modal .info-popup .square-text-section .border-top {
  border-top: 1px solid #45b1d5 !important;
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;
}

.modal .info-popup .square-text-section .border-left {
  border-left: 1px solid #45b1d5 !important;
  position: absolute;
  left: 0;
  top: 50px;
  height: calc(100% - 50px);
}

.modal .info-popup .square-text-section .title {
  color: #ff7701;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: -20px;
  left: -10px;
  text-transform: uppercase;
}

.modal .info-popup .square-text-section .img-title {
  position: absolute;
  width: 100%;
  left: -50px;
  top: -80px;
}

.modal .info-popup .square-text-section .list-item {
  padding-left: 40px;
  margin-bottom: 30px;
  position: relative;
}

.modal .info-popup .square-text-section .list-item:before {
  content: '';
  background-image: url("../images/anchor.png");
  width: 20px;
  height: 24px;
  background-size: cover;
  position: absolute;
  background-position: center;
  left: 0;
  top: 0;
}

.modal .info-popup .square-text-section .list-item:last-child {
  margin-bottom: 0;
}

.modal .info-popup .square-text-section .list-item form {
  display: inline;
  border-bottom: 2px solid;
}

.modal .info-popup .square-text-section .list-item .big {
  font-weight: 700;
}

.modal .info-popup .square-text-section .list-item.list {
  margin-bottom: 0;
}

.modal .info-popup .square-text-section ul {
  padding-left: 56px;
  margin-bottom: 30px;
}

.modal .info-popup .square-text-section ul .big {
  font-weight: 700;
}

.modal .info-popup .square-text-section ul:last-child {
  margin-bottom: 0;
}

.modal .info-popup .judge .border-left {
  top: 72px;
  height: calc(100% - 72px);
}

.modal .info-popup .judge .square-text-section {
  padding: 70px 30px 30px;
  margin-top: 80px;
}

.modal .info-popup .judge p {
  font-size: 12px;
  line-height: 1.2;
}

.modal .info-popup .judge p:last-child {
  margin-bottom: 0;
}

.modal .info-popup .judge-info .judge-name {
  font-weight: 900;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-text-stroke: 2px #324863;
  text-shadow: -2px 1px #e2720d, -3px 2px #45b1d5;
  line-height: 1.2;
  margin: 0;
}

.modal .info-popup .judge-info .judge-name .anchor {
  position: relative;
}

.modal .info-popup .judge-info .judge-name .anchor:after {
  content: '';
  background-image: url("../images/anchor.png");
  width: 40px;
  height: 50px;
  background-size: cover;
  position: absolute;
  background-position: center;
  right: -60px;
  top: -8px;
}

.modal .info-popup .judge-info .judge-desc {
  color: #fc7602;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

.modal .info-popup .participant .border-top {
  left: 230px;
  width: calc(100% - 230px);
}

.modal .info-popup .registration .border-top {
  left: 250px;
  width: calc(100% - 250px);
}

.modal .info-popup .qualification .border-top {
  left: 270px;
  width: calc(100% - 270px);
}

.modal .info-popup .qualification .modal-trigger {
  text-decoration: underline;
}

.modal .info-popup .qualification .modal-trigger:hover {
  cursor: pointer;
  text-decoration: none;
}

.modal .info-popup .final-round .border-top {
  left: 230px;
  width: calc(100% - 230px);
}

.modal .info-popup .mechanism .border-top {
  left: 210px;
  width: calc(100% - 210px);
}

.modal .info-popup .entry-fee .border-top {
  left: 180px;
  width: calc(100% - 180px);
}

.modal .info-popup .judge-harry .border-top {
  left: 130px;
  width: calc(100% - 130px);
}

.modal .info-popup .judge-pingkan .border-top {
  left: 370px;
  width: calc(100% - 370px);
}

.modal .info-popup .judge-marianne .border-top {
  left: 340px;
  width: calc(100% - 340px);
}

.modal .info-popup .judge-danv .border-top {
  left: 340px;
  width: calc(100% - 340px);
}

.modal .info-popup .judge-retna .border-top {
  left: 380px;
  width: calc(100% - 380px);
}

.modal .info-popup .judge-erik .border-top {
  left: 150px;
  width: calc(100% - 150px);
}

.modal .info-popup .judge-lulut .border-top {
  left: 190px;
  width: calc(100% - 190px);
}

.work-modal .info-popup {
  display: block;
  text-align: center;
}

.work-modal .info-popup .wabisabi {
  width: 90%;
}

@media screen and (min-width: 991px) {
  .home.active .work-btn-wrapper {
    left: 13vw;
    bottom: 9.6vh;
  }
  .about.active .work-btn-wrapper {
    left: 17vw;
    bottom: 11.7vh;
    transform: rotate(-5deg);
  }
  .about.active .work-btn-wrapper p {
    transform: rotate(5deg);
  }
  .about.active .work-btn-wrapper a.btn.modal-trigger {
    transform: rotate(5deg);
  }
  .rules.active .work-btn-wrapper {
    right: 25vw;
    bottom: 12.6vh;
    transform: rotate(-5deg);
  }
  .rules.active .work-btn-wrapper p {
    transform: rotate(5deg);
  }
  .rules.active .work-btn-wrapper a.btn.modal-trigger {
    transform: rotate(5deg);
  }
  .pastwinners.active .work-btn-wrapper {
    right: 20vw;
    bottom: 6vh;
    transform: rotate(-5deg);
  }
  .pastwinners.active .work-btn-wrapper p {
    transform: rotate(5deg);
  }
  .pastwinners.active .work-btn-wrapper a.btn.modal-trigger {
    transform: rotate(5deg);
  }
}

@media screen and (min-width: 1600px) {
  .modal .modal-dialog {
    max-width: 70%;
    height: 90%;
  }
}

@media screen and (max-width: 1440px) {
  .work-btn-wrapper:after {
    width: 40px;
    top: 0px;
    right: -55px;
  }
  .home.active .work-btn-wrapper {
    left: 15vw;
  }
  .home.active .work-btn-wrapper:after {
    transform: rotate(-20deg);
    width: 40px;
    top: 15px;
    right: -50px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar .navbar-nav {
    margin-left: 0;
  }
  .rules .page-content .rules-title {
    width: 45%;
    left: 27.5%;
  }
  .rules .page-content .circle-col {
    padding: 0;
  }
  .rules .page-content .circle .line-down:after {
    width: 34%;
    left: 90%;
    bottom: 15px;
    transform: rotate(35deg);
  }
  .rules .page-content .circle .line-up:after {
    width: 34%;
    left: 90%;
    transform: rotate(-35deg);
    top: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .home.active .work-btn-wrapper {
    left: 18vw;
    bottom: 10vh;
  }
  .work-btn-wrapper:after {
    width: 30px;
    top: 13px;
    right: -55px;
  }
  .about .work-btn-wrapper:after {
    right: initial;
    left: -58px;
  }
  .rules .work-btn-wrapper:after {
    width: 30px;
    top: 18px;
    right: -55px;
  }
}

@media screen and (max-width: 991px) {
  .navbar .navbar-nav {
    width: 100%;
    text-align: right;
    font-size: 20px;
  }
  .navbar .navbar-nav .nav-right {
    margin-left: 10px;
  }
  .getonboard {
    width: 80%;
  }
  .home .page-content .main-img {
    width: 60%;
  }
  .about .page-content .komodor {
    width: 100%;
    margin: 100px auto 0;
  }
  .about .page-content .text-section .border-top {
    left: 350px;
    width: calc(100% - 350px);
  }
  .about .page-content .text-section .border-left {
    top: 50px;
    height: calc(100% - 50px);
  }
  .about.active .work-btn-wrapper {
    left: 15%;
  }
  .rules .work-btn-wrapper {
    bottom: 35px;
  }
  .rules .page-content {
    padding-top: 60px;
  }
  .rules .page-content .rules-title {
    width: 320px;
    left: 50%;
    margin-left: -160px;
  }
  .rules .page-content .bottom {
    margin-top: 0;
  }
  .rules .page-content .circle {
    width: 60%;
    padding-bottom: 60%;
    margin-bottom: 0px;
  }
  .rules .page-content .circle .desc {
    font-size: 11px;
  }
  .rules .page-content .circle .number {
    font-size: 50px;
  }
  .rules .page-content .circle .line-down:after {
    width: 155%;
    left: initial;
    right: -157%;
    bottom: 50%;
    transform: none;
  }
  .rules .page-content .circle .line-up:after {
    width: 181%;
    left: initial;
    right: 86%;
    top: initial;
    bottom: -16%;
    transform: rotate(-25deg);
  }
  .judges .page-content .judges-wrapper {
    width: 80%;
  }
  .judges .page-content .judge-face .user-wrapper .bubble-wrapper {
    position: static;
    width: auto;
    height: auto;
  }
  .discostar .page-content .sailor {
    width: 100%;
    margin: 100px auto 0;
  }
  .discostar .page-content .title {
    font-size: 19px;
  }
  .discostar .page-content .person .img {
    width: 60%;
  }
  .pastwinners .page-content .title span {
    letter-spacing: 0;
  }
  .profile-box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-box__image {
    border: 1px solid #03aef0;
    border-radius: 50%;
    padding: 15px;
    background: #031a3a;
    flex-shrink: 1;
    flex-grow: 0;
    align-self: center;
    width: 50%;
    z-index: 1;
  }
  .profile-box__image img {
    max-width: 100%;
  }
  .profile-box__text {
    width: 80%;
    background: #03aef0;
    padding: 60px 25px 40px;
    margin-top: -45px;
    z-index: 0;
    border-radius: 14px;
    font-size: 20px;
    z-index: 0;
    margin-left: 0;
  }
  .profile-box__name {
    font-weight: 700;
  }
  .profile-box__message {
    font-weight: 300;
    font-size: 0.875em;
  }
  .profile-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .profile-form > *:last-child {
    margin-right: 0;
  }
  .profile-form label.label {
    color: white;
    font-size: 12px;
    text-align: right;
    flex-shrink: 0;
  }
  .profile-form input[type="text"] {
    display: none;
  }
  .profile-form .profile-form .fileContainer {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    opacity: 0;
    transition: .2s;
  }
  .navbar-collapse-bg {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #041b3d;
    z-index: -1;
    opacity: 0;
    transition: .2s;
  }
  .navbar-collapse-bg img {
    width: 100%;
  }
  .collapse.show {
    opacity: 1;
    transition: .2s;
  }
  .collapse.show .navbar-collapse-bg {
    opacity: 1;
  }
  #fullpage {
    overflow-x: hidden;
  }
  .page-content {
    padding: 100px 0;
    opacity: 1;
  }
  .work-btn-wrapper {
    bottom: 20%;
  }
  .register .col-lg-9 {
    margin-top: 30px;
  }
  .register .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modal .modal-dialog {
    margin: 0;
    height: 100vh;
    max-width: 100%;
  }
  .modal .modal-content {
    overflow-y: scroll;
  }
  .modal .info-popup {
    padding: 15px 30px;
  }
  .modal .info-popup .number {
    font-size: 100px;
    width: 150px;
    height: 150px;
    padding: 0;
  }
  .modal .info-popup .img-section {
    width: 60%;
    margin: 50px auto 0;
    margin-right: 0;
  }
  .modal .info-popup .square-text-section {
    padding: 40px 15px 15px;
  }
  .modal .info-popup .judge .square-text-section {
    padding: 70px 15px 15px;
  }
  .navbar .navbar-brand {
    width: 75px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    position: relative;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 200;
    display: inline-block;
  }
  .navbar .navbar-nav .nav-item .nav-link:after {
    content: '';
    background-image: url(../images/orange-anchor.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 24px;
    display: block;
    position: absolute;
    left: -40px;
    top: 13px;
  }
  .navbar .navbar-nav .nav-item .nav-link span {
    position: relative;
  }
  .navbar .navbar-nav .nav-item .nav-link span:before {
    content: '';
    background-image: url("../images/anchor.png");
    width: 20px;
    height: 24px;
    background-size: cover;
    position: absolute;
    background-position: center;
    left: -35px;
    top: 0;
  }
  .form-row {
    text-align: left;
  }
  .form-row .label {
    font-size: 2.8vw;
  }
  .getonboard {
    width: 100%;
  }
  .login .textbox {
    margin-left: 0;
  }
  .login .label-section .label {
    padding: 0;
    margin-bottom: 10px;
  }
  .register .btn-input {
    margin-top: 20px;
    margin-left: 8px;
    width: 100px;
    min-width: initial;
    font-size: 11px;
    padding: 4px 5px;
  }
  .home .page-content {
    padding-top: 50px;
  }
  .home .page-content .main-img {
    margin-top: 80px;
  }
  .home.active .work-btn-wrapper {
    right: auto;
    left: 10vw;
    bottom: 7vh;
  }
  .home.active .work-btn-wrapper:after {
    width: 30px;
    bottom: -8vh;
    left: 33vw;
  }
  .home.active .work-btn-wrapper .name {
    margin-bottom: 8px;
  }
  .home.active .work-btn-wrapper .btn {
    font-size: 11px;
    padding: 2px 7px;
    text-shadow: 2px 2px #834007;
    color: #fff !important;
    letter-spacing: 1px;
  }
  .home.active .work-btn-wrapper .btn:before {
    border-bottom: 5px solid #834007;
    border-right: 5px solid #834007;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
  }
  .home.active .work-btn-wrapper .btn:after {
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    left: -5px;
    top: -5px;
    border: 2px solid #45b1d5;
  }
  .about .top-bg-mobile {
    width: 50%;
  }
  .about p {
    font-size: 8px;
  }
  .about .page-content .komodor {
    margin-right: 0;
    margin-top: 0;
    margin-left: auto;
    display: block;
  }
  .about .page-content .text-section {
    margin-top: 60px;
  }
  .about .page-content .text-section:before {
    width: 300px;
    height: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
    left: -20px;
    top: -50px;
  }
  .about .page-content .text-section .border-top {
    left: 300px;
    width: calc(100% - 300px);
  }
  .about.active .work-btn-wrapper {
    left: 20%;
  }
  .rules .work-btn-wrapper {
    bottom: 0;
  }
  .rules .page-content .rules-title {
    width: 70%;
    left: -100%;
    margin-left: 0;
    top: 0;
  }
  .judges .top-bg-mobile {
    width: 50%;
  }
  .judges .page-content .judges-title {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 300px;
    margin-left: -150px;
    transition: all 1s ease;
  }
  .judges .page-content .judges-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    margin-top: 50px;
  }
  .judges .page-content .judges-wrapper .judges-img {
    display: none;
  }
  .judges .page-content .guest-judges {
    position: relative;
    width: 100%;
    right: initial;
    bottom: initial;
    z-index: 1;
  }
  .judges .page-content .guest-judges .guest-title {
    display: block;
    margin-top: 20px;
  }
  .judges .page-content .guest-judges .guest-title .title {
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    background-color: #117496;
    padding: 5px 10px;
    border-radius: 8px;
  }
  .judges .page-content .guest-judges .guest-title .title span {
    font-weight: 900;
  }
  .judges .page-content .guest-judges img {
    display: none;
  }
  .judges .page-content .guest-judges .judge-face {
    position: relative;
    width: 50% !important;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    float: left;
    margin: 0;
  }
  .judges .page-content .guest-judges .judge-face img {
    display: block;
  }
  .judges .page-content .judge-face {
    position: relative;
    width: 50%;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    float: left;
    margin: 0;
  }
  .judges .page-content .judge-face .user-wrapper {
    opacity: 1;
    margin: 0;
    display: inline-block;
  }
  .judges .page-content .judge-face .user-wrapper .img-section {
    width: 60%;
    padding: 0 !important;
    margin: 25px auto !important;
    flex: none;
  }
  .judges .page-content .judge-face .user-wrapper .text-section {
    display: none;
  }
  .discostar .page-content {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .discostar .page-content .sailor {
    display: none;
  }
  .discostar .page-content .person .img {
    width: 80%;
  }
  .discostar .page-content .person .name {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .pastwinners .work-btn-wrapper {
    bottom: 70px;
  }
  .pastwinners .page-content {
    padding-top: 50px;
    padding-bottom: 120px;
  }
  .pastwinners .page-content .title {
    font-size: 25px;
  }
  .pastwinners .page-content .title .disco {
    width: 150px;
    margin: 0 4px;
  }
  .pastwinners .page-content .title:after {
    right: -70px;
  }
  .pastwinners .page-content .title:before {
    left: -70px;
  }
  .pastwinners .page-content .winners .text-section {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .pastwinners.active .work-btn-wrapper {
    right: 20%;
  }
  .section.active .page-content .rules-title {
    position: absolute;
    left: 15%;
  }
  .section.active .page-content .judges-title {
    left: 50%;
  }
}

@media screen and (width: 768px) {
  .home.active .work-btn-wrapper {
    left: 18vw;
    bottom: 10vh;
  }
  .home.active .work-btn-wrapper:after {
    left: unset;
  }
  .home .page-content .home-winner-title-mobile {
    margin-top: -30%;
  }
  .home .page-content .home-winner-copy {
    margin-top: 20px;
  }
  .home .page-content .home-winner-copy p {
    margin-bottom: 12px;
  }
  .home .page-content .home-winner-anchor {
    width: 25px;
  }
}

@media screen and (width: 1024px) {
  .home .page-content .home-winner-title {
    display: block;
    position: relative;
    top: 0;
    width: 65%;
    margin-top: calc(-50px - 10%);
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (width: 1280px) and (height: 1024px) {
  .home .page-content .home-winner-title {
    display: block;
    position: relative;
    top: 0;
    width: 50%;
    margin-top: calc(-50px - 17%);
    left: 50%;
    transform: translateX(-50%);
  }
  .home .page-content .home-winner__heading {
    margin: 7% auto 7%;
  }
  .home .page-content .home-winner-copy p {
    margin-bottom: 10px;
  }
}

@media (width: 1280px) and (height: 800px) {
  .home .page-content .home-winner-title {
    display: block;
    position: relative;
    top: 0;
    width: 50%;
    margin-top: calc(-50px - 6%);
    left: 50%;
    transform: translateX(-50%);
  }
  .home .page-content .home-winner__heading {
    margin: 4% auto 4%;
  }
  .home .page-content .home-winner-copy {
    margin-top: 50px;
  }
  .home .page-content .home-winner-copy p {
    margin-bottom: 10px;
  }
}

@media screen and (width: 1366px) {
  .home .page-content .home-winner-title {
    display: block;
    position: relative;
    top: 0;
    width: 50%;
    margin-top: calc(-50px - 13%);
    left: 50%;
    transform: translateX(-50%);
  }
  .home .page-content .home-winner__heading {
    margin: 7% auto 5%;
  }
  .home .page-content .home-winner-copy p {
    margin-bottom: 10px;
  }
  .home.active .work-btn-wrapper {
    left: 21vw;
  }
}

@media screen and (width: 1366px) {
  .home .page-content .home-winner-title {
    margin-top: calc(-50px - 2%);
  }
  .home .page-content .home-winner__heading {
    margin: 3% auto;
  }
  .home.active .work-btn-wrapper {
    left: 13vw;
  }
  .home .page-content .home-winner-copy {
    margin-top: 50px;
  }
}

@media screen and (width: 1900px) {
  .home .page-content .home-winner-title {
    margin-top: calc(-50px - 8%);
  }
}

@media screen and (max-width: 600px) {
  .about .page-content .text-section {
    padding: 40px 15px 20px;
  }
  .about .page-content .text-section:before {
    left: 0;
  }
  .about .page-content .text-section .border-top {
    left: 320px;
    width: calc(100% - 320px);
  }
  .modal .work-title {
    font-size: 28px;
    text-align: center;
  }
  .modal .info-popup .square-text-section .img-title {
    left: -10px;
    top: -65px;
  }
  .modal .info-popup .judge-info .judge-name {
    font-size: 35px;
  }
  .modal .info-popup .judge-info .judge-name .anchor:after {
    width: 30px;
    height: 35px;
    right: -41px;
    top: -2px;
  }
  .modal .info-popup .judge .border-left {
    top: 80px;
    height: calc(100% - 80px);
  }
  .modal .info-popup .judge-harry .border-top {
    left: 100px;
    width: calc(100% - 100px);
  }
  .modal .info-popup .judge-retna .border-top {
    left: 290px;
    width: calc(100% - 290px);
  }
}

@media screen and (max-width: 500px) {
  .right-bg,
  .left-bg {
    display: none;
  }
  .rules-row {
    height: 100vh;
  }
  .rules-row p,
  .rules-row li {
    font-size: 2.8vw;
  }
  .fp-tableCell {
    padding-top: 89.68px;
  }
  .top-bg-mobile,
  .bottom-bg-mobile {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
  }
  .top-bg-mobile {
    top: 0;
  }
  .bottom-bg-mobile {
    bottom: 0;
  }
  .register .form-row .label {
    padding: 0;
  }
  .register-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .register .link-section {
    margin-top: 0;
  }
  .register .link-section .text {
    margin-top: 33px;
    margin-bottom: 10px;
    font-size: 2.8vw;
  }
  .modal .video {
    width: 100%;
    margin: 15vh 0;
  }
  .modal .video.paywithviews {
    width: 100%;
  }
  .modal .modal-content .modal-right-bg,
  .modal .modal-content .modal-left-bg {
    width: 150%;
    object-fit: contain;
    object-position: bottom;
  }
  .modal .info-popup {
    justify-content: start;
  }
  .modal .info-popup .col {
    padding: 0;
  }
  .modal .info-popup .square-text-section .img-title {
    left: -5px;
    top: -55px;
  }
  .modal .info-popup .judge-info .judge .border-left {
    top: 60px;
    height: calc(100% - 60px);
  }
  .modal .info-popup .judge-info .judge-name {
    font-size: 30px;
  }
  .home .page-content .main-img {
    width: 80%;
    margin-top: 50px;
  }
  .home .fp-tableCell {
    padding-top: 0;
  }
  .about p {
    font-size: 2vw;
  }
  .about.active .work-btn-wrapper {
    bottom: 16vw;
  }
  .about.active .work-btn-wrapper .name {
    font-size: 2.8vw;
    margin-bottom: 3px;
  }
  .about.active .work-btn-wrapper .btn {
    font-size: 2vw;
    padding: 3px 5px;
    text-shadow: 2px 2px #834007;
    color: #fff !important;
  }
  .about.active .work-btn-wrapper .btn::before {
    border-bottom: 4px solid #834007;
    border-right: 4px solid #834007;
    width: calc(100% + 6px);
    height: calc(100% + 5px);
  }
  .about.active .work-btn-wrapper .btn:after {
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: -4px;
    top: -4px;
  }
  .about.active .work-btn-wrapper:after {
    left: -27px;
    top: 36px;
    transform: rotate(-30deg);
  }
  .about .page-content {
    padding-top: 0;
    height: 100%;
  }
  .about .page-content .komodor {
    width: 29vw;
    margin-bottom: -45px;
  }
  .about .page-content .text-section {
    padding: 20px 15px;
  }
  .about .page-content .text-section:before {
    background-image: url(../images/set-sail-mobile.png);
  }
  .about .page-content .text-section .border-left {
    top: 20px;
    height: calc(100% - 20px);
  }
  .about .page-content .text-section .border-top {
    left: 55vw;
    width: calc(100% - 55vw);
  }
  .about .page-content .text-section:before {
    width: 59vw;
    left: -30px;
    top: -50px;
  }
  .rules .page-content {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .rules .page-content .rules-title {
    display: none;
  }
  .rules .page-content .rules-title--mobile {
    display: block;
  }
  .rules .page-content .circle {
    width: 100%;
    padding-bottom: 100%;
  }
  .rules .page-content .circle .number {
    font-size: 40px;
  }
  .rules .page-content .circle .desc {
    font-size: 7px;
  }
  .rules .page-content .circle .line-down:after {
    width: calc(100% + 5px);
    right: calc(-100% - 7px);
    border-top-width: 2px;
  }
  .rules .page-content .circle .line-up:after {
    width: 141%;
    right: 78%;
    bottom: -23%;
    transform: rotate(-33deg);
    border-top-width: 2px;
  }
  .rules .page-content .work-btn-wrapper {
    right: 7vw;
    bottom: 14vw;
    letter-spacing: 2px;
  }
  .rules .page-content .work-btn-wrapper .name {
    margin-bottom: 6px;
    font-size: 3.1vw;
  }
  .rules .page-content .work-btn-wrapper:after {
    right: auto;
    left: -7vw;
    transform: rotate(-20deg);
    top: 8vw;
  }
  .rules .page-content .work-btn-wrapper .btn {
    font-size: 2vw;
    padding: 3px 5px;
    text-shadow: 2px 2px #834007;
    color: #fff !important;
  }
  .rules .page-content .work-btn-wrapper .btn::before {
    border-bottom: 4px solid #834007;
    border-right: 4px solid #834007;
    width: calc(100% + 6px);
    height: calc(100% + 5px);
  }
  .rules .page-content .work-btn-wrapper .btn:after {
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: -4px;
    top: -4px;
  }
  .rules.active .page-content .rules-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
  .judges .page-content {
    padding-top: 0;
  }
  .judges .page-content .judges-title {
    position: static;
    margin: 0 auto;
    width: 50%;
  }
  .judges .page-content .judges-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .judges .page-content .judge-face .user-wrapper .img-section {
    margin: 10px auto !important;
  }
  .judges .page-content .judge-face .user-wrapper .img-section img {
    display: none;
  }
  .judges .page-content .judge-face .user-wrapper .img-section img.judges-img-mobile {
    display: block;
    border: none;
  }
  .judges .page-content .guest-judges .guest-title {
    margin-top: 5px;
  }
  .judges .page-content .guest-judges .guest-title .title {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
    padding: 2px 10px;
    margin-bottom: 5px;
  }
  .row.judge {
    justify-content: center;
  }
  .modal .info-popup .row.judge .square-text-section > p {
    font-size: 2.8vw;
  }
  .modal .info-popup .row.judge .square-text-section.judge-danh .border-top {
    width: 0%;
  }
  .modal .info-popup .row.judge .img-section {
    margin: 50px 0 -50px auto;
  }
  .modal .info-popup .row.judge .img-section img {
    width: 60%;
  }
  .modal .info-popup .row.judge .judge-info .judge-name .anchor:after {
    content: unset;
  }
  .discostar .page-content {
    padding-top: 0;
  }
  .discostar .page-content .title {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .discostar .page-content .title span:first-child {
    margin-right: 10px;
  }
  .discostar .page-content .title span:last-child {
    margin-left: 10px;
  }
  .discostar .page-content .title .disco {
    width: 40%;
    margin: 0;
  }
  .discostar .page-content .person .img {
    width: 100%;
  }
  .discostar .page-content .person .name {
    font-size: 12px;
    width: 100%;
  }
  .pastwinners .page-content {
    padding-top: 80px;
  }
  .pastwinners .page-content .title {
    font-size: 4vw;
  }
  .pastwinners .page-content .title .disco {
    width: 35%;
    margin: 0;
    vertical-align: top;
  }
  .pastwinners .page-content .title span {
    margin-left: 6px;
    letter-spacing: 6px;
    margin-top: 1.7vw;
  }
  .pastwinners .page-content .title:after, .pastwinners .page-content .title:before {
    background-image: url(../images/star-mobile.png);
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 25%;
    height: 100%;
    top: 0;
  }
  .pastwinners .page-content .title:before {
    left: 0;
  }
  .pastwinners .page-content .title:after {
    right: 0;
  }
  .pastwinners .page-content .winners .winner-img {
    width: 23vw;
  }
  .pastwinners .page-content .winners .text-section {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.7vw;
  }
  .pastwinners .page-content .winners .blue-text {
    font-size: 0.875em;
    line-height: 2em;
  }
  .pastwinners .page-content .winners .orange-text {
    font-size: 1em;
  }
  .pastwinners.active .work-btn-wrapper {
    right: 48vw;
    bottom: 15vw;
  }
  .pastwinners.active .work-btn-wrapper .name {
    font-size: 3.1vw;
    margin-bottom: 6px;
  }
  .pastwinners.active .work-btn-wrapper .btn {
    font-size: 2vw;
    padding: 3px 5px;
    text-shadow: 2px 2px #834007;
    color: #fff !important;
  }
  .pastwinners.active .work-btn-wrapper .btn::before {
    border-bottom: 4px solid #834007;
    border-right: 4px solid #834007;
    width: calc(100% + 6px);
    height: calc(100% + 5px);
  }
  .pastwinners.active .work-btn-wrapper .btn:after {
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    left: -4px;
    top: -4px;
  }
  .pastwinners.active .work-btn-wrapper:after {
    width: 30px;
    top: 3px;
    right: -40px;
  }
  .login .btn-section .btn {
    min-width: 120px;
    padding: 4px 0;
    font-size: 12px;
  }
  .login .btn-section .btn:before {
    border-bottom: 3px solid #834007;
    border-right: 3px solid #834007;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
  }
  .login .btn-section .btn:after {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    left: -4px;
    top: -4px;
  }
  .login .textbox {
    padding: 2px 10px;
  }
  #loginModal .modal-left-bg,
  #loginModal .modal-right-bg {
    display: none;
  }
  #loginModal .top-bg-mobile,
  #loginModal .bottom-bg-mobile {
    z-index: 0;
  }
  #loginModal .top-bg-mobile {
    width: 50%;
    right: 0;
    left: auto;
  }
  #loginModal .register {
    height: 100vh;
  }
  #loginModal .register .user-img {
    width: 30%;
  }
  #loginModal .register .form-row .textbox {
    padding: 0;
  }
  #loginModal .register .btn {
    min-width: 130px;
    padding: 4px 0;
    margin: 17px 0;
    font-size: 10px;
  }
  #loginModal .register .btn:before {
    border-bottom: 3px solid #834007;
    border-right: 3px solid #834007;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
  }
  #loginModal .register .btn:after {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    left: -4px;
    top: -4px;
  }
}

@media screen and (min-width: 1280px) {
  .rules .page-content .circle .line-down:after {
    content: '';
    width: 35%;
    left: 90%;
    bottom: 16px;
    transform: rotate(30deg);
  }
  .rules .page-content .circle .line-up:after {
    width: 35%;
    left: 93%;
    top: 26px;
    transform: rotate(-35deg);
  }
}
