[Star]
paramCode = "code"
forceSecure = 0

[account]
paramCode = "code"
forceSecure = 0
==
<div class="section profile">
    <div class="page-content">
        <!-- <img class="getonboard" src="{{ 'assets/images/getonboard.png' | theme }}"> -->
        <img class="left-bg" src="{{ 'assets/images/home-left-bg.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/home-right-bg.png' | theme }}">


        <!-- Old Template  -->
        <div class="container" id="hide">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="img-wrapper">
                <img class="user-img" width="200px" src="{{ user.avatar.path }}">
              </div>
            </div>
            <div id="result-submitfile"></div>
            <div class="col-12 col-md-9" id="after-recall">
            {% if user.campus_letter %}
                <!-- payment confirmation -->
                {% if user.payment_receipt %}
                    {% if not user.is_payment_confirmation %}
                      <div class="row form-row">
                        <div class="col-12">
                          <p>Ahoy, {{ user.name }}</p>
                        </div>
                        <div class="col-10">
                          <p>Waiting payment receipt confirmation from admin.</p>
                        </div>
                      </div>
                    {% else %}
                      {% if user.submit_work %}
                      <div class="row form-row">
                        <div class="col-12">
                          <p>Ahoy, {{ user.name }}</p>
                        </div>
                        <div class="col-10">
                          <p>Thank you for your submission. The finalists will be announced on October 24th, 2018.</p>
                        </div>
                      </div>
                    {% else %}
                      <div class="col-12">
                        <p>Ahoy, {{ user.name }}</p>
                      </div>
                      {% partial 'sections/dashboard/section-submit-work' %}
                    {% endif %}
                  {% endif %}
                {% else %}
                  <div class="col-12">
                    <p>Ahoy, {{ user.name }}</p>
                  </div>
                  {% partial 'sections/dashboard/section-submit-payment' %}
                {% endif %}
                <!-- end payment confirmation -->
            {% else %} <!-- campus letter -->
              <div class="row">
                <div class="col-12">
                  <div class="profile-box">
                    <p>
                      Ahoy, {{ user.name }}
                    </p>
                    <p>
                      Do not forget to attach your campus reference letter! It should be stated that you are an active college student.
                    </p>
                  </div>
                </div>
              </div>
               {% partial 'sections/dashboard/section-campus-letter' %}
            {% endif %}
            </div>
          </div>
        </div>


        <!-- New Template -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="profile-box">
                <div class="profile-box__image">
                  <img class="user-img" width="200px" src="http://127.0.0.1:1234/storage/app/uploads/public/5b9/892/cde/5b9892cde2ce8999513060.png">
                </div>
                <div class="profile-box__text">
                  <p class="profile-box__name">
                    Ahoy, kenni!
                  </p>
                  <p class="profile-box__message">
                    Do not forget to attach your <b>campus reference letter</b>, It should be stated that you are an active college student.
                  </p>
                </div>

              </div>

            </div>
            <div class="col-12" id="after-recall">
             <!-- campus letter -->
              <form data-request="onSubmitCampusLetter" data-request-files="" data-request-success="recallCampusLetter(data)">
                <div class="row profile-form">
                  <div class="col-5 col-md-5 d-flex justify-content-end align-items-center">
                    <label class="label">Campus Reference <br> Letter</label>
                  </div>
                  <div class="col-7 col-md-7 d-flex">
                    <input class="textbox" type="text" id="campus_letter" value="" readonly="">
                    <!-- <input id="inputReference" class="input-file" type="file" name="campus_letter"> -->
                    <label class="fileContainer">
                        Choose File
                        <input type="file"/>
                    </label>
                  </div>
                  <div class="col-12 offset-md-5 btn-section text-center text-md-left">
                      <button class="btn btn-red btn-save mt-5">SAVE</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

    </div>
</div>
{% put scripts %}
  <script>
    function recallPayment(data){
      if(data.success_upload){
        $('#after-recall').html('');
        $('#after-recall').html('<div class="row form-row"><div class="col-10"><p>Waiting payment receipt confirmation from admin.</p></div></div>');
      }
    }

    function recallWork(data){
      if(data.success_upload){
        $('#after-recall').html('');
        $('#after-recall').html('<div class="row form-row"><div class="col-10"><p>Thank you for your submission. The finalists will be announced on October 24th, 2018.</p></div></div>');
      }
    }

    function recallCampusLetter(data){
      if(data.success_upload){
        $('#after-recall').html('<form data-request="onSubmitPayment" data-request-files  data-request-flash data-request-success="recallPayment(data)"><div class="col-md-10"><p align="left">Thank you for registering! You have 48 hours to complete the payment. Check the details on rules number 6.</p><br><div class="row form-row"><div class="col-4"><label class="label"><em>Payment Receipt</em></label></div><div class="col-4"><input class="textbox" type="text" id="payment_receipt" value="No File Selected" readonly></div><div class="col-4"><input id="inputPayment" class="input-file" type="file" name="payment_receipt"></div><div class="row form-row"><div class="col-4 offset-4 btn-section"><button class="btn btn-green btn-save">SAVE</button></div></div></div></div></form>');
      }
    }
  </script>
{% endput %}
