==
{% if not user %}
  <div class="section login">
      <div class="page-content">
        <img class="left-bg" src="{{ 'assets/images/signin-left-bg.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/signin-right-bg.png' | theme }}">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="getonboard" src="{{ 'assets/images/getonboard.png' | theme }}">
          
                  {% component 'Star::signin' %}
                
              <div class="row form-row link-section">
                <p class="text">HAVEN’T REGISTERED YET? <a class="nav-link" href="#register">SIGN UP</a> HERE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}