 <div class="section about">
      <div class="page-content">
        <img class="left-bg" src="{{ 'assets/images/about-left-bg.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/about-right-bg.png' | theme }}">
        <img class="top-bg-mobile" src="{{ 'assets/images/about-mobile-bg-top.png' | theme }}">
        <img class="bottom-bg-mobile" src="{{ 'assets/images/about-mobile-bg-bottom.png' | theme }}">
        <div class="work-btn-wrapper">
          <p class="name">TRAILBLAZING IDEA</p>
          <a class="btn modal-trigger" data-toggle="modal" data-target="#popupModal">The Great Robbery
            <div class="modal-data">
              <p class="work-title">The Great Robbery</p>
              <video class="video" controls>
                <source src="{{ 'assets/video/the-great-robbery.mp4' | theme }}" type="video/mp4">
              </video>
            </div>
          </a>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10 col-md-4 col-lg-5 text-right">
              <img class="komodor" src="{{ 'assets/images/komodor.png' | theme }}">
            </div>
            <div class="col-10 col-md-8 col-lg-7">
              <div class="text-section">
                <div class="border-left"></div>
                <div class="border-top"></div>
                <p>For 154 years, J. Walter Thompson has been one of the oldest ship afloat on the harsh sea of marketing communication. Long have we set our sail overseas, putting humans first solution as our compass, together crashing through the complex waves of clients’ briefs, continuously charting new territory of trends no one else wants to enter, pioneering everything we know now as the modern advertising.</p>
                <p>As the history is made only when we keeps challenging the mystery, Thus, J. Walter Thompson Jakarta has evolved into J. Walter Thompson Company. Expanding our vessel to face the ever-changing storms of needs— larger in size and armed with diversions from Verve (PR), Mirum (digital), to Chameleon & J25 (creative content & PH).</p>
                <p>Now, with JWT Disco on its 4th year, we can't wait to meet you, the future of advertising—to get on board and reimagine the time ahead with us.</p>
                <p>So, are you the one we're looking for?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
