 <div class="section home">
      <div class="page-content">
        <img class="home-winner-title" src="{{ 'assets/images/yohoho.png' | theme }}">
        <img class="home-winner-title-mobile" src="{{ 'assets/images/images/home-winner-title-mobile.png' | theme }}">
        <div class="home-winner__heading">
            <img class="home-winner-anchor" src="{{ 'assets/images/anchor.png' | theme }}">
            <h4>
                We've found our 2018 disco star!
            </h4>
            <img class="home-winner-anchor" src="{{ 'assets/images/anchor.png' | theme }}">
        </div>
        <div class="home-winner-box">
            <div class="home-winner__photo-box">
                <img class="home-winner__photo" src="{{ 'assets/images/winner-girl.png' | theme }}">
                <img class="home-winner__banner" src="{{ 'assets/images/banner-cindy.png' | theme }}">
            </div>
            <div class="home-winner__photo-box">
                <img class="home-winner__photo" src="{{ 'assets/images/winner-boy.png' | theme }}">
                <img class="home-winner__banner" src="{{ 'assets/images/banner-ronaldo.png' | theme }}">
            </div>
        </div>
        <div class="home-winner-copy">
            <p>
                They will be joining our ship soon.
            </p>
            <p>
                Thank you for your awesome ideas and sea you next year!
            </p>
        </div>
        <br>
        <img class="left-bg" src="{{ 'assets/images/images/winner-left-bg.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/images/winner-right-bg.png' | theme }}">
        <img class="top-bg-mobile" src="{{ 'assets/images/images/winner-mobile-top-bg.png' | theme }}">
        <img class="bottom-bg-mobile" src="{{ 'assets/images/images/winner-mobile-bottom-bg.png' | theme }}">
        <div class="work-btn-wrapper">
          <p class="name">TRAILBLAZING IDEA</p>
          <a class="btn modal-trigger" data-toggle="modal" data-target="#popupModal">Hair Talk
            <div class="modal-data">
              <p class="work-title">Hair Talk</p>
              <video class="video" controls>
                <source src="{{ 'assets/video/hair-talk.mp4' | theme }}" type="video/mp4">
              </video>
            </div>
          </a>
        </div>
      </div>
    </div>
