<div class="section discostar">
      <div class="page-content">
        <img class="left-bg" src="{{ 'assets/images/disco-left-bg.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/disco-right-bg.png' | theme }}">
        <img class="top-bg-mobile" src="{{ 'assets/images/nav-mobile-bg-top.png' | theme }}">
        <img class="bottom-bg-mobile" src="{{ 'assets/images/discostar-mobile-bg-bottom.png' | theme }}">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-lg-5 d-flex align-items-center">
              <img class="sailor" src="{{ 'assets/images/sailor.png' | theme }}">
            </div>
            <div class="col-10 col-md-8 col-lg-7">
              <p class="title">
                <span>PREVIOUS</span>
                <img class="disco" src="{{ 'assets/images/disco.png' | theme }}">
                <span>FINALISTS</span>
              </p>
              <div class="row">
                <div class="col-4 person text-right">
                  <img class="img" src="{{ 'assets/images/star/star1.png' | theme }}">
                  <p class="name">Antonius<br>Alexander</p>
                </div>
                <div class="col-4 person">
                  <img class="img" src="{{ 'assets/images/star/star2.png' | theme }}">
                  <p class="name">Cetta<br>Adhipurusa</p>
                </div>
                <div class="col-4 person text-left">
                  <img class="img" src="{{ 'assets/images/star/star3.png' | theme }}">
                  <p class="name">Eric<br>Flavio</p>
                </div>
                <div class="col-4 person text-right">
                  <img class="img" src="{{ 'assets/images/star/star4.png' | theme }}">
                  <p class="name">Okky<br>Sakura</p>
                </div>
                <div class="col-4 person">
                  <img class="img" src="{{ 'assets/images/star/star5.png' | theme }}">
                  <p class="name">Robet<br>Panjalu</p>
                </div>
                <div class="col-4 person text-left">
                  <img class="img" src="{{ 'assets/images/star/star6.png' | theme }}">
                  <p class="name">Sarah<br>Aghnia</p>
                </div>
                <div class="col-4 person text-right">
                  <img class="img" src="{{ 'assets/images/star/star7.png' | theme }}">
                  <p class="name">Brigitta<br>Jesslyn</p>
                </div>
                <div class="col-4 person">
                  <img class="img" src="{{ 'assets/images/star/star8.png' | theme }}">
                  <p class="name">Shifa<br>Ahsani</p>
                </div>
                <div class="col-4 person text-left">
                  <img class="img" src="{{ 'assets/images/star/star9.png' | theme }}">
                  <p class="name">Verencia</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
