<div class="section judges">
      <div class="page-content">
        <img class="left-bg" src="{{ 'assets/images/judges-left-bg_1.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/judges-right-bg.png' | theme }}">
        <img class="judges-title" src="{{ 'assets/images/judges-title.png' | theme }}">
        <img class="left-bg left-bg-piece" src="{{ 'assets/images/layer_2.png' | theme }}">
        <img class="top-bg-mobile" src="{{ 'assets/images/about-mobile-bg-top.png' | theme }}">
        <img class="bottom-bg-mobile" src="{{ 'assets/images/judges-mobile-bg-bottom.png' | theme }}">
        <div class="judges-wrapper">
          <img class="judges-img" src="{{ 'assets/images/judges-edited.png' | theme }}">
          <div class="judge-face judge1">
            <a class="user-wrapper modal-trigger" data-toggle="modal" data-target="#popupModal">
              <span class="bubble-wrapper">
                <div class="img-section">
                  <img src="{{ 'assets/images/judges/harry-white.png' | theme }}">
                  <img class="judges-img-mobile" src="{{ 'assets/images/judges/harry-mobile.png' | theme }}">
                </div>
                <div class="text-section">
                <p class="name">Harry Deje</p>
                <!-- <hr class="line"> -->
                <p class="desc">Managing Director of Verve & Chameleon</p>
                <p class="link">see more...</p>
                <div class="modal-data">
                  <div class="row judge">
                    <div class="col-10 col-md-5 col">
                      <div class="img-section text-right text-right">
                        <img src="{{ 'assets/images/judges/harry.png' | theme }}">
                      </div>
                    </div>
                    <div class="col-10 col-md-7 col">
                      <div class="square-text-section judge-harry">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <div class="judge-info img-title">
                          <p class="judge-name"><span class="anchor">Harry</span><br>Deje</p>
                          <p class="judge-desc">Managing Director of Verve & Chameleon</p>
                        </div>
                        <p>Deje joins us with a well-rounded experience in communciations of more than 20 years from both the client's and agency's sides of the business covering different sets of communication channels from PR, Digital, Media, ATL and BTL.</p>
                        <p>Prior joining JWT, Deje was the Business Director for Brands in Edelman Indonesia. His long list of agency life in Burson—Marsteller, McCann Digital, Weber-Shandwick/Golin and Publicis has also provided him eligible encounters in various industries, not only in Indonesia, but also across South East Asia.</p>
                        <p>Holder of an undergraduate degree in Faculty of Political and Social Science from University of Indonesia, he also has a client side experience such as in XL Axiata, where he was the Corporate Communications Manager for more than 7 years.</p>
                        <p>Some of the proofs of his hard works are several acknowledgements, few to mention are The Best Viral Video Campaign for Opera Software in 2016 and The Best CSR program for XL Axiata in 2010 and 2011.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <span class="text-section__line"></span> -->
              </div>
              </span>
            </a>
          </div>
          <div class="judge-face judge2">
            <a class="user-wrapper modal-trigger" data-toggle="modal" data-target="#popupModal">
              <span class="bubble-wrapper">
                <div class="img-section">
                  <img src="{{ 'assets/images/judges/danh-white.png' | theme }}">
                  <img class="judges-img-mobile" src="{{ 'assets/images/judges/danh-mobile.png' | theme }}">
                </div>
                <div class="text-section">
                <p class="name">Daniel Hagmeijer</p>
                <!-- <hr class="line"> -->
                <p class="desc">Head of Brand Experience Design at Mirum and J. Walter Thompson Jakarta</p>
                <p class="link" >see more...</p>
                <div class="modal-data">
                  <div class="row judge">
                    <div class="col-10 col-md-5 col">
                      <div class="img-section text-right text-right">
                        <img src="{{ 'assets/images/judges/danh.png' | theme }}">
                      </div>
                    </div>
                    <div class="col-10 col-md-7 col">
                      <div class="square-text-section judge-danh">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <div class="judge-info img-title">
                          <p class="judge-name"><span class="anchor">Daniel</span><br>Hagmeijer</p>
                          <p class="judge-desc">Head of Brand Experience Design at Mirum and J. Walter Thompson Jakarta</p>
                        </div>
                        <p>For someone who’s a lead strategist, Dan’s life has been surprisingly unplanned. Basing his choice for university major on an online test that showed he needed some creativity in his studies, he ended up at the faculty of Industrial Design Engineering in Delft, the Netherlands to pursue a bachelor’s degree in product design and a master’s in design for experience.</p>
                        <p>Before he moved to Indonesia (love made him do it), he  was part of the founding UX team of Exact, after spending some time at Philips’ product research department. He  then rolled into a qualitative research job at TNS Indonesia where he got to know and love Indonesian people and cultures from all walks of life.</p>
                        <p>When the opportunity presented itself for Dan to move into a strategy role at Mirum (was XM Gravity) he grabbed it with both hands, wanting to make a difference in how people perceive brands.</p>
                        <p>Today, Dan oversees the innovation, customer experience, brand strategy and communications design services at Mirum and J. Walter Thompson Jakarta.</p>
                        <p>Not bad for someone who doesn’t plan.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <span class="text-section__line"></span> -->
              </div>
              </span>
            </a>
          </div>
          <div class="judge-face judge3">
            <a class="user-wrapper modal-trigger" data-toggle="modal" data-target="#popupModal">
              <span class="bubble-wrapper">
                <div class="img-section">
                  <img src="{{ 'assets/images/judges/pingkan-white.png' | theme }}">
                  <img class="judges-img-mobile" src="{{ 'assets/images/judges/pingkan-mobile.png' | theme }}">
                </div>
                <div class="text-section">
                <p class="name">Pingkan Rarumangkay</p>
                <!-- <hr class="line"> -->
                <p class="desc">Executive Creative Director of J. Walter Thompson Group of Company Indonesia</p>
                <p class="link">see more...</p>
                <div class="modal-data">
                  <div class="row judge">
                    <div class="col-10 col-md-5 col">
                      <div class="img-section text-right text-right">
                        <img src="{{ 'assets/images/judges/pingkan.png' | theme }}">
                      </div>
                    </div>
                    <div class="col-10 col-md-7 col">
                      <div class="square-text-section judge-pingkan">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <div class="judge-info img-title">
                          <p class="judge-name"><span class="anchor">Pingkan</span><br>Rarumangkay</p>
                          <p class="judge-desc">Executive Creative Director of J. Walter Thompson Group of Company Indonesia</p>
                        </div>
                        <p>A mix tape kid who owns 3000+ songs in her iTunes, and counting—yeah, she’s somewhere between Gen X and Xennial.</p>
                        <p>An international relations bachelor who settles in creative industry—ever since graduated, she’s been in three multinational agencies, handling local as well as global brands and projects in her twenty years of career in the industry.</p>
                        <p>A true city girl who takes pleasure in getting lost in remote areas of Indonesia—she became a certified diver in 2009 and determines to dip into every dive sites in Indonesia.</p>
                        <p>She is, to put it all, that who can still do it.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <span class="text-section__line"></span> -->
              </div>
              </span>
            </a>
          </div>
          <div class="judge-face judge4">
            <a class="user-wrapper modal-trigger" data-toggle="modal" data-target="#popupModal">
              <span class="bubble-wrapper">
                <div class="img-section">
                  <img src="{{ 'assets/images/judges/marianne-white.png' | theme }}">
                  <img class="judges-img-mobile" src="{{ 'assets/images/judges/marianne-mobile.png' | theme }}">
                </div>
                <div class="text-section">
                  <p class="name">marianne admardatine</p>
                  <!-- <hr class="line"> -->
                  <p class="desc">CEO of J. Walter Thompson Group of Company Indonesia</p>
                  <p class="link">see more...</p>
                  <div class="modal-data">
                    <div class="row judge">
                      <div class="col-10 col-md-5 col">
                        <div class="img-section text-right text-right">
                          <img src="{{ 'assets/images/judges/marianne.png' | theme }}">
                        </div>
                      </div>
                      <div class="col-10 col-md-7 col">
                        <div class="square-text-section judge-marianne">
                          <div class="border-left"></div>
                          <div class="border-top"></div>
                          <div class="judge-info img-title">
                            <p class="judge-name"><span class="anchor">marianne</span><br>admardatine</p>
                            <p class="judge-desc">CEO of J. Walter Thompson Group of Company Indonesia</p>
                          </div>
                          <p>Marianne is the CEO of J. Walter Thompson Group of Company Indonesia, a WPP agency, where she leads the Indonesia team of JWT, Mirum and Verve as a brand agency.</p>
                          <p>Before this, Marianne was Ogilvy Indonesia’s Chief Growth Officer and Managing Director for both Ogilvy Public Relations and Pulse Communications in Indonesia.</p>
                          <p>As part of her responsibilities, she holds a strategic role in leading thought leadership initiatives and building business engagement with C—suite clients for integrated campaigns across the group.</p>
                          <p>Marianne’s work for The Ministry of Tourism and Bank of Indonesia has also been recognized locally and regionally.</p>
                          <p>As a lecturer in several universities, and her involvement in various organizations in Indonesia, Marianne was also voted as one of the 100 Powerful Women in Indonesia by SWA, Indonesia’s business magazine.</p>
                          <p>In 2017, she was also named as Campaign Asia’s APAC Woman to Watch.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <span class="text-section__line"></span> -->
                </div>
              </span>
            </a>
          </div>
          <div class="judge-face judge5">
            <a class="user-wrapper modal-trigger" data-toggle="modal" data-target="#popupModal">
              <span class="bubble-wrapper">
                <div class="img-section">
                  <img src="{{ 'assets/images/judges/danv-white.png' | theme }}">
                  <img class="judges-img-mobile" src="{{ 'assets/images/judges/danv-mobile.png' | theme }}">
                </div>
                <div class="text-section">
                  <p class="name">Daniel Van Leeuwen</p>
                  <!-- <hr class="line"> -->
                  <p class="desc">Managing Director of Mirum Jakarta</p>
                  <p class="link" >see more...</p>
                  <div class="modal-data">
                    <div class="row judge">
                      <div class="col-10 col-md-5 col">
                        <div class="img-section text-right text-right">
                          <img src="{{ 'assets/images/judges/danv.png' | theme }}">
                        </div>
                      </div>
                      <div class="col-10 col-md-7 col">
                        <div class="square-text-section judge-danv">
                          <div class="border-left"></div>
                          <div class="border-top"></div>
                          <div class="judge-info img-title">
                            <p class="judge-name"><span class="anchor">Daniel</span><br>Van Leeuwen</p>
                            <p class="judge-desc">Managing Director of Mirum Jakarta</p>
                          </div>
                          <p>As the Managing Director of Mirum Jakarta, I help C—level executives innovate  and drive growth through the creation of holistic customer experiences, business models, and  iconic brands. With over 15 years of experience specialising in digital, working as part of a the wider marketing mix I use technology as an enabler to keep up with customer demand, shaping transformational strategies that addresses customer needs and drive business impact. Having instigated a culture of positive disruption and rapid innovation at Mirum Jakarta, I help teams and clients alike look at things differently; constantly challenging the norm, lifting the bar and breaking the rules.</p>
                          <p>I currently oversea a multidisciplinary team of strategist, innovation consultants, designers, data geeks, and branding specialist who advise the world’s leading companies  such as Unilever, Nestle, and Telkomsel on how to win and navigate the demands of the connected age.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <span class="text-section__line"></span> -->
                </div>
              </span>
            </a>
          </div>
          <div class="judge-face judge6">
            <a class="user-wrapper modal-trigger" data-toggle="modal" data-target="#popupModal">
              <span class="bubble-wrapper">
                <div class="img-section">
                  <img src="{{ 'assets/images/judges/retna-white.png' | theme }}">
                  <img class="judges-img-mobile" src="{{ 'assets/images/judges/retna-mobile.png' | theme }}">
                </div>
                <div class="text-section">
                <p class="name">Retna Murti asmoro</p>
                <!-- <hr class="line"> -->
                <p class="desc">Head of Planning at J. Walter Thompson Group of Company Indonesia</p>
                <p class="link">see more...</p>
                <div class="modal-data">
                  <div class="row judge">
                    <div class="col-10 col-md-5 col">
                      <div class="img-section text-right text-right">
                        <img src="{{ 'assets/images/judges/retna.png' | theme }}">
                      </div>
                    </div>
                    <div class="col-10 col-md-7 col">
                      <div class="square-text-section judge-retna">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <div class="judge-info img-title">
                          <p class="judge-name"><span class="anchor">Retna</span><br>Murti asmoro</p>
                          <p class="judge-desc">Head of Planning at J. Walter Thompson Group of Company Indonesia</p>
                        </div>
                        <p>Earning her bachelor degree in Faculty of Economics, University of Indonesia & her MBA from Northeastern University, she thought she would become a business analyst. Yet she fell in love with advertising and became a strategic planner.</p>
                        <p>An avid gamer and a fan of mystery books during her school years, what she loves about brand planning is that it gives the same thrill of solving a puzzle or figuring out a mystery by putting all the pieces together, from the aspects of market, brand and human, to create ideas and to transform logic to magic.</p>
                        <p>Her brand experiences in 16 years while she was in Lowe and Saatchi & Saatchi include handling big FMCG brands from Unilever, Nestle, P&G, Kraft Mondelez and Indofood. The other big companies she handled were Sampoerna, BAT, Bank Niaga, BTPN, Bank Mandiri, Kalbe Farma, Air Asia, Emirates and XL to name a few.</p>
                        <p>Now Retna is the Head of Planning at J. Walter Thompson Group of Companies Indonesia, continuing her adventure in cracking challenges for the big brands of HSBC, Shell, J&J, Nestle Indofood and Unilever.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <span class="text-section__line"></span> -->
              </div>
              </span>
            </a>
          </div>
        </div>
        <div class="guest-judges">
          <img src="{{ 'assets/images/guest-judges.png' | theme }}">
          <div class="guest-title">
            <p class="title">• our<span>Guest</span>judges •</p>
          </div>
          <div class="judge-face judge7">
            <a data-toggle="modal" data-target="#popupModal" class="modal-trigger user-wrapper">
              <div class="img-section">
                <img src="{{ 'assets/images/judges/erik-white.png' | theme }}">
                <img class="judges-img-mobile" src="{{ 'assets/images/judges/erik-mobile.png' | theme }}">
              </div>
              <div class="text-section">
                <p class="name">Erik Meijer</p>
                <!-- <hr class="line"> -->
                <p class="desc">President Director of Telkomtelstra</p>
                <p class="link ">see more...</p>
                <div class="modal-data">
                  <div class="row judge">
                    <div class="col-10 col-md-5 col">
                      <div class="img-section text-right text-right">
                        <img src="{{ 'assets/images/judges/erik.png' | theme }}">
                      </div>
                    </div>
                    <div class="col-10 col-md-7 col">
                      <div class="square-text-section judge-erik">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <div class="judge-info img-title">
                          <p class="judge-name"><span class="anchor">Erik</span><br>Meijer</p>
                          <p class="judge-desc">President Director of Telkomtelstra</p>
                        </div>
                        <p>Erik Meijer is a Dutch national, currently residing in Indonesia for the past 23 years. Throughout his 25+ year career, Erik has worked in all aspects of the TMT (Telecoms, Media & Technology) space, as well as at an airline. Starting his professional career in KPN Royal Dutch Telecom, Erik soon moved to Indonesia where he spent 11 years with the country’s largest mobile telecom operator Telkomsel and later became the Deputy President Director of Bakrie Telecom, which he helped grow from 1 to 14 million customers in 5 years.</p>
                        <p>Besides his formal job, Erik is also an Honorary Advisor to the Indonesian Minister of Tourism. He is also a regular guest lecturer at universities and speaker at seminars and conferences.</p>
                        <p>Erik was voted as Indonesia’s Marketeer of the Year (Insan Pemasar Indonesia) 2006 by the Cakram Advertising Magazine, Creative Marketer 2007 by MIX Marketing Magazine, one of the Top-10 Figures in Indonesia’s Technology Industry 2009 by TechLife magazine, and awarded a Lifetime Achievement Award at the Indonesia Cellular Awards 2007. He has received several other awards in the fields of Marketing and Public Relations.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <span class="text-section__line"></span> -->
              </div>
            </a>
          </div>
          <div class="judge-face judge8">
            <a class="user-wrapper modal-trigger" data-toggle="modal" data-target="#popupModal">
              <div class="img-section">
                <img src="{{ 'assets/images/judges/lulut-white.png' | theme }}">
                <img class="judges-img-mobile" src="{{ 'assets/images/judges/lulut-mobile.png' | theme }}">
              </div>
              <div class="text-section">
                <p class="name">DD “Lulut” Asmoro</p>
                <!-- <hr class="line"> -->
                <p class="desc">Brand Storyteller, Former CEO of J. Walter Thompson Jakarta</p>
                <p class="link" >see more...</p>
                <div class="modal-data">
                  <div class="row judge">
                    <div class="col-10 col-md-5 col">
                      <div class="img-section text-right">
                        <img src="{{ 'assets/images/judges/lulut.png' | theme }}">
                      </div>
                    </div>
                    <div class="col-10 col-md-7 col">
                      <div class="square-text-section judge-lulut">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <div class="judge-info img-title">
                          <p class="judge-name"><span class="anchor">DD “Lulut”</span><br>Asmoro</p>
                          <p class="judge-desc">Brand Storyteller, Former CEO of J. Walter Thompson Jakarta</p>
                        </div>
                        <p>A drummer and a DJ in his high school and college years, Lulut joined the Ad industry in 1992, right after studying Electrical Engineering at the University of Indonesia.</p>
                        <p>His career of 25 years in the Ad industry includes a stint in Lowe’s affiliate office in Cairo, Egypt in 1998. Lulut returned to Jakarta in January 2000 as the General Manager of Lowe Link, before moving to J. Walter Thompson Jakarta at the end of 2004 as their Chief Operating Officer.</p>
                        <p>He assumed leadership of the agency in March 2005—making him the first Indonesian CEO of a multinational advertising agency in the country. Under his watch, the company brought home Indonesia’s first ever medals from major international Ad Festivals, and was named Campaign Brief’s Indonesian Agency of the Year in 2008, 2009 and 2014. The agency was also named Agency of the Year by Citra Pariwara, Indonesia’s biggest Ad Festival, in 2007, 2008, 2009 and 2015. In 2012 the agency expanded its offering to digital and social media marketing by acquiring Magnivate—which is now rebranded as Mirum.</p>
                        <p>Lulut retired from J. Walter Thompson Jakarta at the end of 2016 after seeing the company grew to almost 6 times. He joined Digitized in September 2017 as a Partner and CEO.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <span class="text-section__line"></span> -->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
