<div class="section register">
  <img class="left-bg" src="{{ 'assets/images/register-left-bg.png' | theme }}">
  <img class="right-bg" src="{{ 'assets/images/register-right-bg.png' | theme }}">
  <div class="page-content">
    <div class="container">
    	<div class="row">
      		{% component 'Star::register' %}
        </div>>
      </div>
  </div>
</div>