[Star]
paramCode = "code"
forceSecure = 0

[account]
paramCode = "code"
forceSecure = 0
==
<div class="section profile">
    <div class="page-content">
        <!-- <img class="getonboard" src="{{ 'assets/images/getonboard.png' | theme }}"> -->
        <img class="left-bg" src="{{ 'assets/images/home-left-bg.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/home-right-bg.png' | theme }}">
        <!-- New Template -->
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="profile-box">
                <div class="profile-box__image">
                  <img class="user-img" width="200px" src="{{ user.avatar.path }}">
                </div>
                <div id="result-submitfile"></div>
                <div class="profile-box__text">
                  <p class="profile-box__name">
                    Ahoy, {{ user.name }}!
                  </p>

                  <p class="profile-box__message" id="after-recall-text">
                    {% if user.campus_letter %} <!-- belom upload letter -->
                      {% if user.payment_receipt %} <!-- belom upload payment -->
                        {% if not user.is_payment_confirmation %} <!-- belom di konfirmasi admin -->
                          Waiting payment receipt confirmation from admin.
                        {% else %}
                          {% if user.submit_work %} <!-- belom submit work -->
                            Thank you for your submission. The finalists will be announced on October 24th, 2018.<br><br/>
                              Stay tune to our social media channels for more info.<br/>
                              Facebook: <a href="https://web.facebook.com/JWTJakarta/" target="_blank">JWT Jakarta</a><br/>
                              Twitter: <a href="https://twitter.com/JWTJakarta" target="_blank" >@JWTJakarta</a><br/>
                              Instagram: <a href="https://instagram.com/JWTJakarta" target="_blank">@JWTJakarta</a>
                          {% else %}
                            <span style="text-align:left">
                            <!--    Thank you for your payment! <br/>
                              In the meantime, prepare yourself for the upcoming brief. You can download the brief<br/>
                              on the website or your email on October 10th, 2018 at 00.00WIB.<br/>
                              Stay tune to our social media channels for more info.<br/>
                              Facebook: <a href="#" target="_blank">JWT Jakarta</a><br/>
                              Twitter: <a href="#" target="_blank" >@JWTJakarta</a><br/>
                              Instagram: <a href="#" target="_blank">@JWTJakarta</a> -->
                              Submission period is closed.<br>
                              The finalists will be announced on October 24th, 2018.
                              <!--br>

                              Download the brief  
                              {{ form_open({ request: 'onDownloadButtonClickedBrief' }) }}
                              <input type="submit" value="here" class="link" style="padding:0; margin: 0;border: 0; background: none;overflow: visible;color: blue;cursor: pointer; color: white">
                              {{ form_close() }}
                              -->
                              <br>

                              
                              Stay tune to our social media channels for more info.<br/>
                              Facebook: <a href="https://web.facebook.com/JWTJakarta/" target="_blank">JWT Jakarta</a><br/>
                              Twitter: <a href="https://twitter.com/JWTJakarta" target="_blank" >@JWTJakarta</a><br/>
                              Instagram: <a href="https://instagram.com/JWTJakarta" target="_blank">@JWTJakarta</a>




                            </span>
                          {% endif %}
                        {% endif %}
                      {% else %}
                          
                     Submission period is closed.<br>
                              The finalists will be announced on October 24th, 2018.
                              <br>

                              Stay tune to our social media channels for more info.<br/>
                              Facebook: <a href="https://web.facebook.com/JWTJakarta/" target="_blank">JWT Jakarta</a><br/>
                              Twitter: <a href="https://twitter.com/JWTJakarta" target="_blank" >@JWTJakarta</a><br/>
                              Instagram: <a href="https://instagram.com/JWTJakarta" target="_blank">@JWTJakarta</a>

                      {% endif %}
                    {% else %}
                      
                     Submission period is closed.<br>
                              The finalists will be announced on October 24th, 2018.
                              <br>

                              Stay tune to our social media channels for more info.<br/>
                              Facebook: <a href="https://web.facebook.com/JWTJakarta/" target="_blank">JWT Jakarta</a><br/>
                              Twitter: <a href="https://twitter.com/JWTJakarta" target="_blank" >@JWTJakarta</a><br/>
                              Instagram: <a href="https://instagram.com/JWTJakarta" target="_blank">@JWTJakarta</a>


                            
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12" id="after-recall-form">
              <!-- for template upload form 
                {% if not user.campus_letter %}  
                    
                {% else %}
                  {% if user.payment_receipt %} 
                    {% if user.is_payment_confirmation %}
                      {% if not user.submit_work %}
                                              

                      {% endif %}
                    {% endif %}
                  {% else %}
                  
                  {% endif %}
                {% endif %}
              for template upload form -->
            </div>
          </div>
        </div>
    </div>
</div>
{% put scripts %}
  <script>
    function recallPayment(data){
      if(data.success_upload){
        $('#after-recall-text').html('');
        $('#after-recall-form').html('');
        $("#after-recall-text").html('Waiting payment receipt confirmation from admin.');
      }
    }

    function recallWork(data){
      if(data.success_upload){
        $('#after-recall-text').html('');
        $('#after-recall-text').html('Thank you for your submission. The finalists will be announced on October 24th, 2018.');
        $('#after-recall-form').html('');
      }
    }

    function recallCampusLetter(data){
      if(data.success_upload){
        $('#after-recall-text').html('');
        $('#after-recall-text').html('Thank you for registering! You have 48 hours to complete the payment. Check the details on rules number 6.');
        $('#after-recall-form').html('');
        $('#after-recall-form').html('<form data-request="onSubmitPayment" data-request-files data-request-success="recallPayment(data)"><div class="row profile-form"><div class="col-5 col-md-5 d-flex justify-content-end align-items-center"><label class="label">Payment Receipt</label></div><div class="col-7 col-md-7 d-flex"><input class="textbox" type="text" id="payment_receipt" value="No File Selected" readonly><label class="fileContainer">Choose File<input id="inputPayment" class="input-file" type="file" name="payment_receipt"></label></div><div class="col-12 offset-md-5 btn-section text-center text-md-left"><div id="err_payment_receipt"></div><button class="btn btn-red btn-save mt-5">SAVE</button></div></div></form>');
      }
    }
  </script>
{% endput %}
