<div class="section rules">
      <div class="page-content">
        <img class="rules-title" src="{{ 'assets/images/rules.png' | theme }}">
        <img class="rules-title rules-title--mobile" src="{{ 'assets/images/rules-page-header-mobile.png' | theme }}">
        <img class="left-bg" src="{{ 'assets/images/rules-left-bg.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/rules-right-bg.png' | theme }}">
        <img class="top-bg-mobile" src="{{ 'assets/images/nav-mobile-bg-top.png' | theme }}">
        <img class="bottom-bg-mobile" src="{{ 'assets/images/nav-mobile-bg-bottom.png' | theme }}">
        <div class="work-btn-wrapper">
          <p class="name">TRAILBLAZING IDEA</p>
          <a class="btn modal-trigger" data-toggle="modal" data-target="#popupModal">Hari Terakhirku Sekolah
            <div class="modal-data">
              <p class="work-title">Hari Terakhirku Sekolah</p>
              <video class="video" controls>
                <source src="{{ 'assets/video/Hari Terakhirku Sekolah-2.mp4' | theme }}" type="video/mp4">
              </video>
            </div>
          </a>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-4 col-md-4 offset-md-1 col-lg-2 offset-lg-0 circle-col">
              <a class="circle modal-trigger" data-toggle="modal" data-target="#popupModal">
                <div class="content line-down">
                  <p class="number">1</p>
                  <p class="desc">PARTICIPANT</p>
                </div>
                <div class="modal-data">
                  <div class="row rules-row">
                    <div class="col-10 offset-1 col-md-3 offset-md-1 col">
                      <p class="number">
                        <span>
                          1
                        </span>
                      </p>
                    </div>
                    <div class="col-10 offset-1 col-md-7 col">
                      <div class="square-text-section participant">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <p class="title">PARTICIPANT</p>
                        <p class="list-item">Individual.</p>
                        <p class="list-item">Minimum 18 years old and maximum 24 years old by
                        September 2018.</p>
                        <p class="list-item">Still registered as a university student in Indonesia.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-4 offset-4 col-md-4 offset-md-2 col-lg-2 offset-lg-0 circle-col">
              <a class="circle bottom modal-trigger" data-toggle="modal" data-target="#popupModal">
                <div class="content line-up">
                  <p class="number">2</p>
                  <p class="desc">REGISTRATION</p>
                </div>
                <div class="modal-data">
                  <div class="row rules-row">
                    <div class="col-10 offset-1 col-md-3 offset-md-1 col">
                      <p class="number">
                        <span>
                          2
                        </span>
                      </p>
                    </div>
                    <div class="col-10 offset-1 col-md-7 col">
                      <div class="square-text-section registration">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <p class="title">REGISTRATION</p>
                        <p class="list-item">Open: <span class="big">September 10th 2018 at 00:00 WIB.</span></p>
                        <p class="list-item">Close: <span class="big">October 12th 2018 at 17:00 WIB.</span></p>
                        <p class="list-item">Each registrant will get a registration code.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-4 col-md-4 offset-md-1 col-lg-2 offset-lg-0 circle-col">
              <a class="circle modal-trigger" data-toggle="modal" data-target="#popupModal">
                <div class="content line-down">
                  <p class="number">3</p>
                  <p class="desc">qualification</p>
                </div>
                <div class="modal-data">
                  <div class="row rules-row">
                    <div class="col-10 offset-1 col-md-3 offset-md-1 col">
                      <p class="number">
                        <span>
                          3
                        </span>
                      </p>
                    </div>
                    <div class="col-10 offset-1 col-md-7 col">
                      <div class="square-text-section qualification">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <p class="title">qualification</p>
                        <p class="list-item">Brief release: <span class="big">October 13th 2018 at 00:00 WIB.</span></p>
                        <p class="list-item">Entry close: <span class="big">October 14th 2018 at 23:59 WIB.</span></p>
                        <div class="list-item">
                            <span>Entry format: A3 presentation board in JPG format, 300 DPI resolution, RGB, max file size 10 MB</span> 
                            {{ form_open({ request: 'onDownloadButtonClicked' }) }}
                             <input type="submit" value="download here" class="link" style="padding:0; margin: 0;border: 0; background: none;overflow: visible;color: blue;cursor: pointer; color: white">
                            {{ form_close() }}
                        </div>
                        <p class="list-item">Each participant is allowed to submit more than 1 entry.</p>
                        <p class="list-item">Finalists announcement: <span class="big">October 24th 2018.</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-4 offset-4 col-md-4 offset-md-2 col-lg-2 offset-lg-0 circle-col">
              <a class="circle bottom modal-trigger" data-toggle="modal" data-target="#popupModal">
                <div class="content line-up">
                  <p class="number">4</p>
                  <p class="desc">final round</p>
                </div>
                <div class="modal-data">
                  <div class="row rules-row">
                    <div class="col-10 offset-1 col-md-3 offset-md-1 col">
                      <p class="number">
                        <span>
                          4
                        </span>
                      </p>
                    </div>
                    <div class="col-10 offset-1 col-md-7 col">
                      <div class="square-text-section final-round">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <p class="title">final round</p>
                        <p class="list-item">Final round will be held on November 8th - 9th 2018 in J. Walter Thompson Jakarta.</p>
                        <p class="list-item">JWT Disco team will directly brief the finalists in the morning. Finalists are required to answer the brief in the next 12 hours.</p>
                        <p class="list-item">Each finalist will present their final presentation to the Board of Judges in the following morning.</p>
                        <p class="list-item">The winner will be announced on the same day after all finalists' presentations are completed.</p>
                        <p class="list-item">Only one winner will be chosen by the Board.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-4 col-md-4 offset-md-1 col-lg-2 offset-lg-0 circle-col">
              <a class="circle modal-trigger" data-toggle="modal" data-target="#popupModal">
                <div class="content line-down">
                  <p class="number">5</p>
                  <p class="desc">mechanism</p>
                </div>
                <div class="modal-data">
                  <div class="row rules-row">
                    <div class="col-10 offset-1 col-md-3 offset-md-1 col">
                      <p class="number">
                        <span>
                          5
                        </span>
                      </p>
                    </div>
                    <div class="col-10 offset-1 col-md-7 col">
                      <div class="square-text-section mechanism">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <p class="title">mechanism</p>
                        <p class="list-item list"><span class="big">Registration</span></p>
                        <ul>
                          <li>Register on our website.</li>
                          <li>Attach Letter of Reference from the university. It should state
                          that you are an active student.</li>
                          <li>Pay entry fee with the unique code.</li>
                          <li>Confirm the payment according to our method.</li>
                        </ul>
                        <p class="list-item list"><span class="big">BRIEF RELEASE</span></p>
                        <ul>
                          <li>Brief can be download on website and your email on <span class="big">October 13th 2018 at 00:00 WIB.</span></li>
                          <li>Ideas to be submitted before <span class="big">October 14th 2018 ar 23:59 WIB.</span></li>
                          <li>One idea is considered as one entry.</li>
                        </ul>
                        <p class="list-item list"><span class="big">SUBMIT IDEAS</span></p>
                        <ul>
                          <li>Complete your details of entry on the entry form. Once submitted you will not be able to change it.</li>
                          <li>You are allowed to send more than one entry.</li>
                          <li>Send your entry and wait for the finalists announcement.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-4 offset-4 col-md-4 offset-md-2 col-lg-2 offset-lg-0 circle-col">
              <a class="circle bottom modal-trigger" data-toggle="modal" data-target="#popupModal">
                <div class="content">
                  <p class="number">6</p>
                  <p class="desc">ENTRY FEE</p>
                </div>
                <div class="modal-data">
                  <div class="row rules-row">
                    <div class="col-10 offset-1 col-md-3 offset-md-1 col">
                      <p class="number">
                        <span>
                          6
                        </span>
                      </p>
                    </div>
                    <div class="col-10 offset-1 col-md-7 col">
                      <div class="square-text-section entry-fee">
                        <div class="border-left"></div>
                        <div class="border-top"></div>
                        <p class="title">entry fee</p>
                        <p class="list-item">Fee: Rp 80.000/entry.</p>
                        <p class="list-item list">Payment by bank transfer to the account details as follows:</p>
                        <ul>
                          <li>Beneficiary Name: PT. Wira Pamungkas Pariwara.</li>
                          <li>Beneficiary Address: Menara Sentraya, Lantai 26. Jl. Iskandarsyah Raya No. 1A Melawai, Kebayoran Baru, Jakarta Selatan 12130.</li>
                          <li>Bank Name: <span class="big">Bank Central Asia</span> (KCP Cikini)</li>
                          <li>Account Number: <span class="big">878-023-4947</span></li>
                          <li>Account Name: <span class="big">Linawati Logito</span></li>
                        </ul>
                        <p class="list-item">Payment must be made before the registration closed, October 12th 2018.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
