 <div class="section pastwinners">
      <div class="page-content">
        <img class="left-bg" src="{{ 'assets/images/past-left-bg.png' | theme }}">
        <img class="right-bg" src="{{ 'assets/images/past-right-bg.png' | theme }}">
        <img class="top-bg-mobile" src="{{ 'assets/images/pastwinners-mobile-bg-top.png' | theme }}">
        <img class="bottom-bg-mobile" src="{{ 'assets/images/pastwinners-mobile-bg-bottom.png' | theme }}">
        <div class="work-btn-wrapper">
          <p class="name">TRAILBLAZING IDEA</p>
          <a class="btn modal-trigger" data-toggle="modal" data-target="#popupModal">Pay With Views
            <div class="modal-data">
              <p class="work-title">Pay With Views</p>
              <video class="video paywithviews" controls>
                <source src="{{ 'assets/video/pay-with-views.mp4' | theme }}" type="video/mp4">
              </video>
            </div>
          </a>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p class="title">
                <span>2017'<sup>s</sup></span>
                <img class="disco" src="{{ 'assets/images/disco.png' | theme }}">
                <span>STARS</span>
              </p>
            </div>
            <div class="col-12 winners">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                  <img class="winner-img" src="{{ 'assets/images/antonius.png' | theme }}">
                  <div class="text-section">
                    <p class="orange-text">Antonius alexander</p>
                    <p class="blue-text">as</p>
                    <p class="orange-text">jr. strategic planner</p>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <img class="winner-img" src="{{ 'assets/images/brigitta.png' | theme }}">
                  <div class="text-section">
                    <p class="orange-text">brigitta jesslyn</p>
                    <p class="blue-text">as</p>
                    <p class="orange-text">jr. copywriter</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
