[account]
paramCode = "code"
forceSecure = 0

[Star]
paramCode = "code"
forceSecure = 0
==
  <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <img class="modal-left-bg" src="{{ 'assets/images/register-left-bg.png' | theme }}">
        <img class="modal-right-bg" src="{{ 'assets/images/register-right-bg.png' | theme }}">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body info-popup">
        </div>
      </div>
    </div>
  </div>

   <div class="modal fade work-modal" id="workModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <img class="modal-left-bg" src="{{ 'assets/images/register-left-bg.png' | theme }}">
        <img class="modal-right-bg" src="{{ 'assets/images/register-right-bg.png' | theme }}">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body info-popup">
          <p class="work-title">wabi-sabi</p>
          <img class="wabisabi" src="{{ 'assets/images/wabisabi.jpg' | theme }}">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <img class="modal-left-bg" src="{{ 'assets/images/register-left-bg.png' | theme }}">
        <img class="modal-right-bg" src="{{ 'assets/images/register-right-bg.png' | theme }}">
        <img class="top-bg-mobile" src="{{ 'assets/images/login-mobile-bg-top.png' | theme }}">
        <img class="bottom-bg-mobile" src="{{ 'assets/images/login-mobile-bg-bottom.png' | theme }}">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body d-flex align-items-center justify-content-center">
          <div class="login">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <img class="getonboard" src="{{ 'assets/images/getonboard.png' | theme }}">
                  {% component 'Star::signin' %}
                  <div class="row form-row link-section">
                    <!-- <p class="text">DON'T HAVE ACCOUNT? <a class="nav-link" id="registerLink">REGISTER</a> HERE</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="register">
            <div class="container">
              <div class="row justify-content-center">
                {% component 'Star::register' %}
              </div>
              <div class="row form-row link-section">
                  <p class="text">ALREADY HAVE AN ACCOUNT? <a class="nav-link" id="loginLink">SIGN IN</a> HERE</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
