<form 
  data-request="onSubmitPayment" 
  data-request-files 
  data-request-success="recallPayment(data)"
  >
  <div class="row profile-form">
    <div class="col-5 col-md-5 d-flex justify-content-end align-items-center">
      <label class="label">Payment Receipt</label>
    </div>
    <div class="col-7 col-md-7 d-flex">
      <input class="textbox" type="text" id="payment_receipt" value="No File Selected" readonly>
      <!-- <input id="inputReference" class="input-file" type="file" name="campus_letter"> -->
      <label class="fileContainer">
        Choose File
         <input id="inputPayment" class="input-file" type="file" name="payment_receipt">
      </label>
    </div>
    <div class="col-12 offset-md-5 btn-section text-center text-md-left">
      <div id="err_payment_receipt"></div>
      <button class="btn btn-red btn-save mt-5">SAVE</button>
    </div>
  </div>
</form>