{% if "now"|date('Y-m-d') >= "2018-10-10"|date("Y-m-d") %}
<form 
  data-request="onSubmitWork" 
  data-request-files 
  data-request-success="recallWork(data)"
  >
  <div class="row profile-form">
    <div class="col-5 col-md-5 d-flex justify-content-end align-items-center">
      <label class="label">Submit Work</label>
    </div>
    <div class="col-7 col-md-7 d-flex">
      <input class="textbox" type="text" id="submit_work" value="No File Selected" readonly>
      <!-- <input id="inputReference" class="input-file" type="file" name="campus_letter"> -->
      <label class="fileContainer">
        Choose File
         <input id="inputWork" class="input-file" type="file" name="submit_work">
      </label>
    </div>
    <div class="col-12 offset-md-5 btn-section text-center text-md-left">
      <div id="err_submit_work"></div>
      <button class="btn btn-red btn-save mt-5">SAVE</button>
    </div>
  </div>
</form>
{% endif %}