{% if canRegister %}
<div id="result-register"></div>
    <form
        data-request="onRegisterStar"
        data-request-files
        data-request-flash>

        <div class="row">
            <div class="col-12 col-lg-3 offset-lg-1">
                <div id="image-preview" class="register-image">
                    <img id="rounded-photo" class="user-img" src="{{ 'assets/images/user.jpg' | theme }}">
                    <input id="inputAvatar" class="input-file" type="file" name="avatar">
                    <label class="btn btn-font-big" id="avatar" for="inputAvatar">upload photo</label>
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <div class="form-row">
                   <div class="col-4 col-sm-6 col-md-4">
                        <label class="label" for="registerName"><em>Name</em></label>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5">
                        <input
                            name="name"
                            type="text"
                            class="textbox"
                            id="name"   />
                        {{ errors.first('name') }}
                    </div>
                </div>

                 <div class="form-row">
                    <div class="col-4 col-sm-6 col-md-4">
                        <label class="label" for="registerUniversity"><em>University</em></label>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5">
                        <input
                            name="university"
                            type="text"
                            class="textbox"
                            id="university"   />
                        {{ errors.first('university') }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-4 col-sm-6 col-md-4">
                        <label class="label" for="registerEmail"><em>Email Address</em></label>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5">
                        <input
                            name="email"
                            type="email"
                            class="textbox"
                            id="email"/>
                        {{ errors.first('email') }}
                    </div>
                </div>

                 <div class="form-row">
                    <div class="col-4 col-sm-6 col-md-4">
                        <label class="label" for="registerMobile"><em>Mobile Phone</em></label>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5">
                        <input
                            name="mobile"
                            type="number"
                            class="textbox"
                            id="mobile"   />
                        {{ errors.first('mobile') }}
                    </div>
                </div>

                 <div class="form-row">
                    <div class="col-4 col-sm-6 col-md-4">
                        <label class="label" for="registerDob"><em>Date of Birth</em></label>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5">
                        <input id="dob" name="dob" type="text" class="textbox datepicker" style="border-radius: 0px">
                    </div>
                    {{ errors.first('dob') }}
                </div>

                <div class="form-row">
                    <div class="col-4 col-sm-6 col-md-4">
                        <label class="label" for="registerPassword"><em>Password</em></label>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5">
                        <input
                            name="password"
                            type="password"
                            class="textbox"
                            id="password"/>
                        {{ errors.first('password') }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-4 col-sm-6 col-md-4">
                        <label class="label" for="registerPassword"><em>Password Confirmation</em></label>
                    </div>
                    <div class="col-8 col-sm-6 col-md-5">
                        <input
                            name="password_confirmation"
                            type="password"
                            class="textbox"
                            id="password_confirmation"/>
                    </div>
                </div>
              <div class="row form-row">
                <div class="col-12 btn-section">
                  <button class="btn btn-green btn-save">SAVE</button>
                </div>
              </div>
            </div>
        </div>
    </form>
{% else %}
    <!-- Registration is disabled. -->
{% endif %}

{% put scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
          $.uploadPreview({
            input_field: "#inputAvatar",   // Default: .image-upload
            preview_box: "#image-preview",  // Default: .image-preview
            label_field: "#avatar",    // Default: .image-label
            label_default: "upload photo",   // Default: Choose File
            label_selected: "change photo",  // Default: Change File
            no_label: false,                 // Default: false
             success_callback: function() {
                $("#rounded-photo").css("visibility", 'hidden');
            }
          });
        });
</script>
{% endput %}
