<div id="result"></div>
<form
    data-request="{{ __SELF__ }}::onSigninStar">
    <div class="row form-row justify-content-center justify-content-md-start">
        <div class="col-8 col-md-3 offset-md-2 label-section">
            <label class="label text-md-right" for="userSigninLogin">EMAIL</label>
        </div>
        <div class="col-8 col-md-3">
            <input
                name="login"
                type="email"
                class="textbox"
                id="userSigninlogin"
                />
            {{ errors.first('login') }}
        </div>
    </div>

    <div class="row form-row justify-content-center justify-content-md-start">
        <div class="col-8 col-md-3 offset-md-2 label-section">
            <label class="label text-md-right" for="userSigninPassword">PASSWORD</label>
        </div>
        <div class="col-8 col-md-3">
            <input
                name="password"
                type="password"
                class="textbox"
                id="userSigninpassword"
                placeholder="Enter your password" />
            {{ errors.first('password') }}
        </div>
    </div>
    <div class="row form-row btn-section justify-content-center justify-content-md-start">
      <div class="col-6 col-md-7 offset-md-5">
        <button type="submit" class="btn btn-font-big">sign in</button>
      </div>
    </div>
</form>
{% put scripts %}
<script>
  $(':input').keyup(function (e) {
      $(this).closest('div').next().find(':input').first().focus();
  })
</script>
{% endput %}
