<script type="text/javascript">
    $('.error-msg').remove();
    
    var errors = {{ fieldMsgs|json_encode()|raw }};
    console.log(errors);
    $.each(errors, function(name, msg){
        //$('<p class="error">' + msg + '</p>').insertAfter($('#' + name));
        //$('<p class="error">' + msg + '</p>').insertAfter($('#err_' + name));
   		$("#err_" + name).html('<p class="error">' + msg + '</p>');
    })
</script>