{{ form_ajax('onUpdate') }}

    <div class="form-group">
        <label for="accountName">Name</label>
        <input name="name" type="text" class="form-control" id="accountName" value="{{ user.name }}">
    </div> 

    <div class="form-group">
        <label for="accountName">University</label>
        <input name="username" type="text" class="form-control" id="userName" value="{{ user.university }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-control" id="accountEmail" value="{{ user.email }}">
    </div>  

    <div class="form-group">
        <label for="accountEmail">Mobile Phone</label>
        <input name="mobile" type="number" class="form-control" id="mobilePhone" value="{{ user.mobile }}">
    </div> 

    <div class="form-group">
        <label for="accountEmail">Date of Birth</label>
        <input name="dob" type="text" class="form-control" id="dateOfBirth" value="{{ user.dob }}">
    </div>

     <div class="card list">
        <img src ="{{ user.avatar.path }}"  height="300px"></img>
        <embed src="{{ user.campus_letter.path }}#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="100px" />
        <embed src="{{ user.payment_receipt.path }}#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="100px" />
        <embed src="{{ user.submit_work.path }}#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="100px" />
    </div>

    <button type="submit" class="btn btn-default">Save</button>

{{ form_close() }}
