[Star]
redirect = "global/home"
paramCode = "code"
forceSecure = 0
==
<!DOCTYPE html>
<html>
<head>
  <title>JWT Disco</title>

  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <!-- VENDORS -->
  <link rel="stylesheet" type="text/css" href="{{ 'assets/vendors/bootstrap.min.css' | theme }}">
  <link rel="stylesheet" type="text/css" href="{{ 'assets/vendors/fullpage.min.css' | theme }}">
  <link rel="stylesheet" type="text/css" href="{{ 'assets/vendors/bootstrap-datepicker3.min.css' | theme }}">
  <link rel="stylesheet" type="text/css" href="{{ 'assets/vendors/bootstrap-datepicker3.standalone.min.css' | theme }}">

  <script src="{{ 'assets/vendors/jquery.js' | theme }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | theme }}">
</head>


<body>
  <!-- flash message -->
  {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
  {% endflash %}
  <!-- end flash -->

  <!--navigation-->
  	{% partial 'global/navigation-disco' %}
  <!--end navigation-->

  <div class="page-bg"></div>
  <div id="fullpage">
    {% partial 'sections/section-home' %}

    {% partial 'sections/section-about' %}
    
    {% partial 'sections/section-rules' %}

    {% partial 'sections/section-judges' %}

    {% partial 'sections/section-discostar' %}

    {% partial 'sections/section-pastwinners' %}

    {% if user %}
      {% partial 'sections/section-dashboard' %}
    {% endif %}
   	 
  </div>
  {% partial 'sections/section-credentials-modal' %}

  <!-- VENDORS -->
  <script type="text/javascript" src="{{ 'assets/vendors/fullpage.min.js' | theme}}"></script>
  <script type="text/javascript" src="{{ 'assets/vendors/bootstrap.min.js' | theme }}"></script>
  <script type="text/javascript" src="{{ 'assets/vendors/tilt.jquery.js' | theme }}"></script>
  <script type="text/javascript" src="{{ 'assets/vendors/bootstrap-datepicker.min.js' | theme }}"></script>


  <script type="text/javascript" src="{{ 'assets/js/main.js' | theme }}"></script>
  <script type="text/javascript" src="{{ 'assets/vendors/jquery.uploadpreview.min.js' | theme }}"></script>

    {% framework extras %}
    {% scripts %}
</body>
</html>