<div class="report-widget">
    <h3>Newest Registered</h3>
    <div class="control-status-list">
        <table class="table table-striped">
        	<tr>
        		<td>#</td>
        		<td>Name</td>
                <td>Job</td>
        		<td>University</td>
        		<td>Register Date</td>

        	</tr>
           <?php 
           $no = 1;
           foreach ($newestTen as $top) { ?>
            	<tr>
            	  <td><?= $no; ?></td>	
                  <td><?= $top['name'] ?></td>
                  <td><?= $top['job_title'] ?></td>
                  <td><?= $top['university'] ?></td>
                  <td><?= $top['created_at']->diffForHumans() ?></td>
                </tr>
           <?php 
           	$no++;
       		} ?>
        </table>
    </div>
</div>